/**
 * ONLY GLOBAL VARIABLES
 */
:root {
  --color--background: #eeeeee;
  --color--background-accent: #ffffff;
  --tile--bar--background: var(--color--background-accent);
  --tile--bar--foreground: var(--color--foreground);
  --tile--title--font: var(--font-style--base) var(--font-weight--bold) var(--tile--title--fontsize)/1.15 var(--font-family--base);
  --tile--subtitle--font: var(--font-style--base) var(--font-weight--base) var(--tile--subtitle--fontsize)/1.15 var(--font-family--base);
}
@media (max-height: 699px) {
  :root {
    --tile--bar--min-height: 50px;
    --pagehead--height: 5rem;
  }
}
@media (min-height: 700px) {
  :root {
    --tile--bar--min-height: 60px;
    --pagehead--height: 6rem;
  }
}
@media (max-width: 767px) {
  :root {
    /* recommended to be in line with --tile--gap */
    --main--padding: 8px;
    --pagefoot--height: 2rem;
    /* on very small screens we want lists of tiles to the edge of screen */
    --tile-container--margin: calc(var(--main--padding) * -1);
    --tile--min-width: 150px;
    --tile--gap: 8px;
    --tile--title--fontsize: calc(1rem - 3px);
    --tile--subtitle--fontsize: calc(1rem - 6px);
  }
}
@media (min-width: 768px) {
  :root {
    --main--padding: 10px;
    --pagefoot--height: 3rem;
    --tile-container--margin: 0;
    --tile--min-width: 220px;
    --tile--gap: 10px;
    --tile--title--fontsize: calc(1rem - 2px);
    --tile--subtitle--fontsize: calc(1rem - 4px);
  }
}
@media (min-width: 1601px) and (min-height: 801px) {
  :root {
    --main--padding: 20px;
    --pagefoot--height: 4rem;
    --tile--gap: 20px;
    --tile--min-width: 240px;
    --tile--title--fontsize: 1rem;
    --tile--subtitle--fontsize: calc(1rem - 3px);
  }
}

/**
 *
 * Resets and global/generic styles with low priority
 *
 */
h1, .h1 {
  color: var(--color--highlight);
  text-transform: uppercase;
  letter-spacing: normal;
}
@media (max-width: 767px) {
  h1, .h1 {
    font-size: 1.75rem;
  }
}
@media (min-width: 768px) {
  h1, .h1 {
    font-size: 2rem;
  }
}

h2, .h2 {
  color: var(--color--highlight);
  text-transform: none;
  letter-spacing: normal;
}
@media (max-width: 767px) {
  h2, .h2 {
    font-size: 1.75rem;
  }
}
@media (min-width: 768px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3, .bookable__instheadleft {
  color: var(--color--foreground);
  text-transform: none;
  letter-spacing: normal;
}
@media (max-width: 767px) {
  h3, .h3, .bookable__instheadleft {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  h3, .h3, .bookable__instheadleft {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  color: var(--color--foreground);
  text-transform: none;
  letter-spacing: normal;
}
@media (max-width: 767px) {
  h4, .h4 {
    font-size: 1.25rem;
  }
}
@media (min-width: 768px) {
  h4, .h4 {
    font-size: 1.3333rem;
  }
}

h5, .h5 {
  color: var(--color--foreground);
  text-transform: uppercase;
  font-size: calc(var(--font-size) - 2px);
  letter-spacing: 2px;
}

h6, .h6 {
  color: var(--color--primary);
  text-transform: none;
  font-size: var(--font-size);
  letter-spacing: normal;
}

.cktext ul {
  margin-left: 0;
  padding-left: 1.25em;
}

/**
 *
 * Styles for html.twig and page.twig, used on every page
 *
 */
html {
  width: 100%;
  height: 100%;
}

body, .dialog-off-canvas-main-canvas, .wt__frontend {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.wt__frontend {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}
@media (max-width: 767px) {
  .wt__frontend {
    padding-top: var(--pagehead--height);
  }
}
@media (min-width: 768px) {
  .wt__frontend--front {
    min-height: auto;
    max-height: 100%;
  }
}

/**
 * HEADER
 *
 * this is the same as .wt__header
 * but we use .pagehead for prettier "&__subelement" selector name
 *
 */
.pagehead {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--color--background-accent);
  padding: 0 var(--main--padding);
  height: var(--pagehead--height);
  /**
   * Mobile and Infopoint
   */
  /**
   * Infopoint
   */
  /**
   * Mobile
   */
}
.pagehead > * {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
@media (max-width: 767px) {
  .pagehead {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 400;
    height: var(--pagehead--height);
  }
}
.pagehead__link {
  color: var(--color--foreground);
}
@media (max-width: 767px) {
  .pagehead__link {
    font-size: 1.3333rem;
  }
}
@media (min-width: 768px) {
  .pagehead__link {
    font-size: 2rem;
  }
}
@media (min-width: 1601px) and (min-height: 801px) {
  .pagehead__link {
    font-size: 2.5rem;
  }
}
.pagehead__link:hover, .pagehead__link:focus {
  color: var(--color--highlight);
}
.pagehead__link--logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.pagehead__logo {
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
  max-height: 90%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .pagehead__logo {
    margin-left: 0;
  }
}
.pagehead__left {
  justify-content: flex-start;
  text-align: left;
}
.pagehead__center {
  justify-content: center;
  text-align: center;
}
@media (max-width: 767px) {
  .pagehead__center {
    margin: 0 1rem;
  }
}
@media (min-width: 768px) {
  .pagehead__center {
    margin: 0 2rem;
  }
}
.pagehead__right {
  justify-content: flex-end;
  text-align: right;
}
.pagehead__left--infopoint, .pagehead__right--infopoint {
  flex: 1 1 0;
}
.pagehead__center--infopoint {
  flex: 1 1 auto;
}
.pagehead__center--infopoint h1 {
  /* allows up to 3 lines of node titles inside header */
  line-height: 1;
}
.pagehead .currenttime {
  font-weight: var(--font-weight--bold);
  white-space: nowrap;
  /* @see font-size .language-swicher__btn */
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .pagehead .currenttime {
    font-size: 2rem;
  }
}
.pagehead__left--mobile, .pagehead__right--mobile {
  flex: 0 0 auto;
  width: 40px;
}
.pagehead__center--mobile {
  flex: 1 1 auto;
}

.language-switcher {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}
.block--language_block {
  height: 100%;
}

.language-switcher__btn {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-weight--base);
  color: var(--color--foreground);
  text-transform: uppercase;
  /* @see font-size .currenttime */
}
@media (max-width: 767px) {
  .language-switcher__btn {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .language-switcher__btn {
    font-size: 2rem;
  }
}
.language-switcher__btn:hover, .language-switcher__btn:focus {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: var(--color--highlight);
}
.language-switcher__icon {
  /* intentionally em here due size differences on parent link in mobile/infopoint */
  margin-left: 0.5em;
  font-size: 0.7em;
}
.language-switcher__ul {
  position: absolute;
  z-index: 400;
  top: 100%;
  display: none;
  width: calc(100% + 2 * var(--main--padding));
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--color--background-accent);
}
@media (max-width: 767px) {
  .language-switcher__ul {
    left: calc(var(--main--padding) * -1);
  }
}
@media (min-width: 768px) {
  .language-switcher__ul {
    right: calc(var(--main--padding) * -1);
  }
}
.language-switcher__li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
}
.language-switcher__li:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.language-switcher .language-link {
  color: var(--color--foreground);
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 2;
}
.language-switcher .language-link:hover, .language-switcher .language-link:focus {
  color: var(--color--highlight);
}

.wt__main {
  width: 100%;
  padding: var(--tile--gap) var(--main--padding);
}
@media (max-width: 767px) {
  .wt__main {
    flex: 1 0 auto;
  }
}
@media (min-width: 768px) {
  .wt__main {
    flex: 1 1 auto;
    overflow-y: auto;
  }
}

.region--content, .block--system_main_block, .touchfront--infopoint,
.block--system_main_block > .views-element-container, .block--system_main_block > .views-element-container > div {
  height: 100%;
}

/**
 * FOOTER
 *
 * this is the same as .wt__footer
 * but we use .pagefoot for prettier "&__subelement" selector name
 *
 */
.pagefoot {
  flex: 0 0 auto;
  margin-top: auto;
  position: relative;
  background-color: var(--color--background-accent);
  height: var(--pagefoot--height);
  z-index: 999;
  /* @see .language-switcher__btn */
}
@media (min-width: 768px) {
  .pagefoot {
    --color--pagefoot--background: #666666;
    --color--pagefoot--foreground: #ffffff;
    color: var(--color--pagefoot--foreground, var(--color--foreground));
    background: var(--color--pagefoot--background, var(--color--background));
  }
}
.pagefoot__pullup {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: inherit;
}
.pagefoot__above {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  height: var(--pagefoot--height);
}
.pagefoot button {
  color: var(--color--pagefoot--foreground, var(--color--foreground));
  background: var(--color--pagefoot--background, var(--color--background));
}
.pagefoot button:hover, .pagefoot button:focus {
  color: inherit;
  background-color: inherit;
}
.pagefoot__menubtn {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-weight--base);
  text-transform: uppercase;
  font-size: 1.5rem;
}
@media (min-width: 1601px) and (min-height: 801px) {
  .pagefoot__menubtn {
    font-size: 2rem;
  }
}
.pagefoot__menuicon {
  margin-left: 0.5em;
  font-size: 0.7em;
  transform: scaleY(1);
  transition: transform linear 400ms;
}
[aria-expanded=true] .pagefoot__menuicon {
  transform: scaleY(-1);
}
.pagefoot__below {
  display: none;
}

.pagefoot--infopoint .powered {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: absolute;
  left: var(--main--padding);
  top: 50%;
  transform: translateY(-50%);
  height: var(--pagefoot--height);
  justify-content: flex-start;
}
.pagefoot--mobile .powered {
  display: none;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  --color--pagefoot--background: #666666;
  --color--pagefoot--foreground: #ffffff;
  color: var(--color--pagefoot--foreground, var(--color--foreground));
  background: var(--color--pagefoot--background, var(--color--background));
  text-align: center;
}
.wt__frontend--front .pagefoot--mobile .powered {
  display: flex;
}
.powered__text {
  font-size: 12px;
  white-space: nowrap;
  padding: 0 0.5em 0 0;
}
.powered__img {
  display: block;
  width: auto;
  height: auto;
  max-height: 30px;
}

/**
 * DGM footer menu, legal links
 */
@media (max-width: 767px) {
  .block--system_menu_block--dgmfooter {
    width: 100%;
    height: 100%;
    padding: 0 var(--main--padding);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .block--system_menu_block--dgmfooter {
    position: absolute;
    right: var(--main--padding);
    top: 50%;
    transform: translateY(-50%);
  }
}

.nav__ul--dgmfooter {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.nav__li--dgmfooter {
  margin: 0;
  padding: 0;
}
.nav__li--dgmfooter + .nav__li--dgmfooter {
  margin-left: 1rem;
}
.nav__a--dgmfooter {
  font-size: 12px;
  line-height: 1;
}
@media (min-width: 768px) {
  .nav__a--dgmfooter {
    color: var(--color--pagefoot--foreground, var(--color--foreground));
    background: var(--color--pagefoot--background, var(--color--background));
  }
  .nav__a--dgmfooter:hover, .nav__a--dgmfooter:focus {
    color: inherit;
    background-color: inherit;
  }
}

.infopointmenu {
  position: relative;
  padding: 0 95px var(--tile--gap);
}
.infopointmenu__wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.infopointmenu .tile-container--menu {
  overflow-x: scroll;
  overflow-y: hidden;
  grid-template-columns: repeat(9999, minmax(var(--tile--min-width), 1fr));
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.infopointmenu .tile-container--menu::-webkit-scrollbar {
  display: none;
}
.infopointmenu__btn {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: var(--color--highlight);
  background-color: transparent;
}
.infopointmenu__btn:hover, .infopointmenu__btn:focus {
  color: var(--color--highlight-accent);
  background-color: inherit;
}
.infopointmenu__btn--prev {
  left: 30px;
}
.infopointmenu__btn--next {
  right: 30px;
}

@media (min-width: 768px) {
  .tile-container.node--dgmmobile--full {
    max-width: 679px;
    margin-right: auto;
    margin-left: auto;
  }
}
/**
 *
 * Shared styles for all views
 *
 */
@media (min-width: 768px) {
  .body--views {
    overflow: hidden;
  }
}
.views-element-container, .views-element-container * {
  --button--width: 48px;
  --input--height: 3rem;
  --icon--width: 24px;
  --arrow--width: 20px;
  --input--min-width: 200px;
}
.views-element-container .geolocation-map-container .gm-style .gm-style-iw-c, .views-element-container * .geolocation-map-container .gm-style .gm-style-iw-c {
  border-radius: 0;
}
.views-element-container .geolocation-map-container .gm-style .gm-style-iw-d, .views-element-container * .geolocation-map-container .gm-style .gm-style-iw-d {
  overflow: auto !important;
  padding-bottom: 12px !important;
  padding-right: 12px !important;
}
.views-element-container .geolocation-map-container .gm-style button.gm-ui-hover-effect, .views-element-container * .geolocation-map-container .gm-style button.gm-ui-hover-effect {
  top: 0 !important;
  right: 0 !important;
  background: white !important;
  opacity: 0.8 !important;
  border-bottom-left-radius: 8px !important;
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3) !important;
}
.views-element-container .geolocation-map-container .gm-style button.gm-ui-hover-effect:hover, .views-element-container * .geolocation-map-container .gm-style button.gm-ui-hover-effect:hover {
  opacity: 1 !important;
}
@media (max-width: 767px) {
  .views-element-container, .views-element-container * {
    /* on mobile the form does not decrease the size of google map views */
    --views-exposed-form--height: 0px;
  }
}
@media (min-width: 768px) {
  .views-element-container, .views-element-container * {
    /* on large screen the exposed form decreases the map height by 1 line of input fields */
    --views-exposed-form--height: calc(var(--input--height) + var(--tile--gap));
  }
}
.views-element-container header h1, .views-element-container * header h1 {
  text-align: center;
}
.views-element-container > [class*=js-view-dom-id] > .views-exposed-form:not([data-drupal-selector^=views-exposed-form-event-dgm]), .views-element-container * > [class*=js-view-dom-id] > .views-exposed-form:not([data-drupal-selector^=views-exposed-form-event-dgm]) {
  /* will be moved into attachment container with clientside-js */
  display: none;
}

.pager__ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.pager__li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color--foreground);
  min-height: 40px;
  min-width: 40px;
}
.pager__li--current {
  padding: 0 1.5rem;
}
.pager__li + .pager__li {
  border-left: 0;
}
.pager--a {
  width: 100%;
  display: flex;
  align-self: stretch;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}

.views-id--dgm .views-attachment-before, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm], .views-id--event .views-attachment-before, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto var(--tile--gap);
  justify-content: center;
  gap: var(--tile--gap);
}
@media (max-width: 767px) {
  .views-id--dgm .views-attachment-before.has-views-switcher > *:nth-last-child(2), .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm].has-views-switcher > *:nth-last-child(2), .views-id--event .views-attachment-before.has-views-switcher > *:nth-last-child(2), .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm].has-views-switcher > *:nth-last-child(2) {
    /**
     * last filter on mobile shares line with views toggle
     */
    flex: 1 0 auto;
  }
}
.views-id--dgm .views__toggle, .views-id--event .views__toggle {
  text-align: center;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  margin-left: var(--tile--gap);
}
.views-id--dgm .views__togglebtn, .views-id--event .views__togglebtn {
  line-height: 1;
  font-size: 12px;
  width: var(--button--width);
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 0;
}
.views-id--dgm .views__togglebtn--clickable, .views-id--event .views__togglebtn--clickable {
  color: white;
  background-color: #666;
}
.views-id--dgm .views__toggleicon, .views-id--event .views__toggleicon {
  font-size: 24px;
  display: block;
  margin: 0 auto;
}
.views-id--dgm .views-exposed-form div[data-drupal-selector=edit-actions], .views-id--event .views-exposed-form div[data-drupal-selector=edit-actions] {
  display: none;
}
.views-id--dgm .views-exposed-form input[type=text]::-ms-input-placeholder, .views-id--event .views-exposed-form input[type=text]::-ms-input-placeholder {
  color: var(--color--foreground);
}
.views-id--dgm .views-exposed-form input[type=text]::-moz-placeholder, .views-id--event .views-exposed-form input[type=text]::-moz-placeholder {
  color: var(--color--foreground);
}
.views-id--dgm .views-exposed-form input[type=text]::-webkit-input-placeholder, .views-id--event .views-exposed-form input[type=text]::-webkit-input-placeholder {
  color: var(--color--foreground);
}
.views-id--dgm .views-exposed-form input[type=text]::placeholder, .views-id--event .views-exposed-form input[type=text]::placeholder {
  color: var(--color--foreground);
}
.views-id--dgm .facets-widget-dropdown > ul, .views-id--dgm .facets-widget-location_range > ul, .views-id--event .facets-widget-dropdown > ul, .views-id--event .facets-widget-location_range > ul {
  /**
   * hide the default, SSR links to prevent FOUT before links are
   * converted to a <select> dropdown on client side by JS
   */
  display: none;
}
.views-id--dgm .facets-widget-dropdown, .views-id--dgm .facets-widget-location_range, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm], .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item, .views-id--event .facets-widget-dropdown, .views-id--event .facets-widget-location_range, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm], .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item {
  height: var(--input--height);
  position: relative;
  width: var(--input--min-width);
}
@media (max-width: 767px) {
  .views-id--dgm .facets-widget-dropdown, .views-id--dgm .facets-widget-location_range, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm], .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item, .views-id--event .facets-widget-dropdown, .views-id--event .facets-widget-location_range, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm], .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item {
    flex: 1 0 100%;
  }
}
@media (min-width: 768px) {
  .views-id--dgm .facets-widget-dropdown, .views-id--dgm .facets-widget-location_range, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm], .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item, .views-id--event .facets-widget-dropdown, .views-id--event .facets-widget-location_range, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm], .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item {
    max-width: 400px;
    flex: 1 1 auto;
  }
}
.views-id--dgm .facets-widget-dropdown label, .views-id--dgm .facets-widget-location_range label, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm] label, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item label, .views-id--event .facets-widget-dropdown label, .views-id--event .facets-widget-location_range label, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm] label, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item label {
  display: block;
  font-size: 0;
  line-height: 0;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: var(--icon--width);
  height: var(--input--height);
}
.views-id--dgm .facets-widget-dropdown label::before, .views-id--dgm .facets-widget-location_range label::before, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm] label::before, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item label::before, .views-id--event .facets-widget-dropdown label::before, .views-id--event .facets-widget-location_range label::before, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm] label::before, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item label::before {
  content: "";
  background-size: var(--icon--width) var(--icon--width);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 100%;
  height: 100%;
}
.views-id--dgm .facets-widget-dropdown label[id$=_category_label]::before, .views-id--dgm .facets-widget-location_range label[id$=_category_label]::before, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm] label[id$=_category_label]::before, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item label[id$=_category_label]::before, .views-id--event .facets-widget-dropdown label[id$=_category_label]::before, .views-id--event .facets-widget-location_range label[id$=_category_label]::before, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm] label[id$=_category_label]::before, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item label[id$=_category_label]::before {
  background-image: url("data:image/svg+xml, %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath id='svglib__category' fill='currentColor' d='M4 5h6v6h-6v-6zM6 7v2h2v-2h-2zM12 7h15v2h-15v-2zM4 13h6v6h-6v-6zM6 15v2h2v-2h-2zM12 15h15v2h-15v-2zM4 21h6v6h-6v-6zM6 23v2h2v-2h-2zM12 23h15v2h-15v-2z'%3E%3C/path%3E%3C/svg%3E");
}
.views-id--dgm .facets-widget-dropdown label[id$=_geo_label]::before, .views-id--dgm .facets-widget-dropdown label[for$=-geo-proximity]::before, .views-id--dgm .facets-widget-location_range label[id$=_geo_label]::before, .views-id--dgm .facets-widget-location_range label[for$=-geo-proximity]::before, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm] label[id$=_geo_label]::before, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm] label[for$=-geo-proximity]::before, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item label[id$=_geo_label]::before, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item label[for$=-geo-proximity]::before, .views-id--event .facets-widget-dropdown label[id$=_geo_label]::before, .views-id--event .facets-widget-dropdown label[for$=-geo-proximity]::before, .views-id--event .facets-widget-location_range label[id$=_geo_label]::before, .views-id--event .facets-widget-location_range label[for$=-geo-proximity]::before, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm] label[id$=_geo_label]::before, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm] label[for$=-geo-proximity]::before, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item label[id$=_geo_label]::before, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item label[for$=-geo-proximity]::before {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath id='svglib__distance' fill='currentColor' d='M432 352H320c-26.5 0-48-21.5-48-48s21.5-48 48-48h96s96-107 96-160-43-96-96-96-96 43-96 96c0 34.6 40.9 92.2 69.3 128H320c-44.1 0-80 35.9-80 80s35.9 80 80 80h112c26.5 0 48 21.5 48 48s-21.5 48-48 48H122.7c28.4-35.8 69.3-93.4 69.3-128 0-53-43-96-96-96S0 299 0 352s96 160 96 160h336c44.1 0 80-35.9 80-80s-35.9-80-80-80zM352 96c0-35.3 28.7-64 64-64s64 28.7 64 64c0 20.4-30.1 68-64 110.4-34-42.6-64-90.6-64-110.4zM32 352c0-35.3 28.7-64 64-64s64 28.7 64 64c0 20.4-30.1 68-64 110.4-34-42.6-64-90.6-64-110.4zm64-16c-21.2 0-21.1 32 0 32 21.2 0 21.1-32 0-32zM416 80c-21.2 0-21.1 32 0 32 21.2 0 21.1-32 0-32z'%3E%3C/path%3E%3C/svg%3E");
}
.views-id--dgm .facets-widget-dropdown label[id$=_season_label]::before, .views-id--dgm .facets-widget-location_range label[id$=_season_label]::before, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm] label[id$=_season_label]::before, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item label[id$=_season_label]::before, .views-id--event .facets-widget-dropdown label[id$=_season_label]::before, .views-id--event .facets-widget-location_range label[id$=_season_label]::before, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm] label[id$=_season_label]::before, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item label[id$=_season_label]::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512'%3E%3Cpath fill='currentColor' d='M543.7 304.3C539.8 259.4 502 224 456 224c-17.8 0-34.8 5.3-49.2 15.2-22.5-29.5-57.3-47.2-94.8-47.2-66.2 0-120 53.8-120 120v.4c-38.3 16-64 53.5-64 95.6 0 57.3 46.7 104 104 104h304c57.3 0 104-46.7 104-104 0-54.8-42.6-99.8-96.3-103.7zM536 480H232c-39.7 0-72-32.3-72-72 0-32.3 21.9-60.7 53.3-69.2l13.3-3.6-2-17.2c-.3-2-.6-4-.6-6 0-48.5 39.5-88 88-88 32.2 0 61.8 17.9 77.2 46.8l10.6 19.8 15.2-16.5c10.8-11.7 25.4-18.1 41-18.1 30.9 0 56 25.1 56 56 0 1.6-.3 3.1-.8 6.9l-2.5 20 23.5-2.4c1.2-.2 2.5-.4 3.8-.4 39.7 0 72 32.3 72 72S575.7 480 536 480zM92.6 323l12.5-63.2c1.2-6.3-1.4-12.8-6.8-16.4l-53.5-35.8 53.5-35.8c5.4-3.6 8-10.1 6.8-16.4L92.6 92.1l63.2 12.5c6.4 1.3 12.8-1.5 16.4-6.8L208 44.3l35.8 53.5c3.6 5.3 9.9 8.1 16.4 6.8l63.2-12.5-12.5 63.2c-.3 1.6-.1 3.2 0 4.8.4 0 .7-.1 1.1-.1 10.1 0 20 1.1 29.6 3 .2-.5.5-.9.6-1.5l17.2-86.7c1-5.2-.6-10.6-4.4-14.4s-9.2-5.5-14.4-4.4l-76.2 15.1-43.1-64.4c-6-8.9-20.6-8.9-26.6 0l-43.2 64.5-76.1-15.1c-5.3-1.1-10.7.6-14.4 4.4-3.8 3.8-5.4 9.2-4.4 14.4l15.1 76.2-64.6 43.1c-4.4 3-7.1 8-7.1 13.3s2.7 10.3 7.1 13.3L71.6 264l-15.1 76.2c-1 5.2.6 10.6 4.4 14.4 3 3 7.1 4.7 11.3 4.7 1 0 2.1-.1 3.1-.3l32.8-6.5c6.2-13.8 14.6-26.5 25.1-37.6L92.6 323zM208 149.7c18.5 0 34.8 8.9 45.4 22.4 10.2-4.3 20.8-7.6 31.9-9.6-15.6-26.6-44.2-44.8-77.3-44.8-49.5 0-89.8 40.3-89.8 89.8 0 33 18.1 61.7 44.8 77.3 2-11.1 5.3-21.7 9.6-31.9-13.6-10.6-22.4-26.9-22.4-45.4 0-31.8 25.9-57.8 57.8-57.8z'%3E%3C/path%3E%3C/svg%3E");
}
.views-id--dgm .facets-widget-dropdown label[for=edit-search-api-fulltext]::before, .views-id--dgm .facets-widget-location_range label[for=edit-search-api-fulltext]::before, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm] label[for=edit-search-api-fulltext]::before, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item label[for=edit-search-api-fulltext]::before, .views-id--event .facets-widget-dropdown label[for=edit-search-api-fulltext]::before, .views-id--event .facets-widget-location_range label[for=edit-search-api-fulltext]::before, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm] label[for=edit-search-api-fulltext]::before, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item label[for=edit-search-api-fulltext]::before {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath id='svglib__search' fill='currentColor' d='M19 3c5.511 0 10 4.489 10 10s-4.489 10-10 10c-2.395 0-4.588-0.839-6.313-2.25l-7.969 7.969-1.438-1.438 7.969-7.969c-1.411-1.724-2.25-3.917-2.25-6.313 0-5.511 4.489-10 10-10zM19 5c-4.43 0-8 3.57-8 8s3.57 8 8 8 8-3.57 8-8-3.57-8-8-8z'%3E%3C/path%3E%3C/svg%3E");
}
.views-id--dgm .facets-widget-dropdown label[for^=edit-field-dates-value]::before, .views-id--dgm .facets-widget-location_range label[for^=edit-field-dates-value]::before, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm] label[for^=edit-field-dates-value]::before, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item label[for^=edit-field-dates-value]::before, .views-id--event .facets-widget-dropdown label[for^=edit-field-dates-value]::before, .views-id--event .facets-widget-location_range label[for^=edit-field-dates-value]::before, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm] label[for^=edit-field-dates-value]::before, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item label[for^=edit-field-dates-value]::before {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath id='svglib__calendar' fill='currentColor' d='M9 4h2v1h10v-1h2v1h4v22h-22v-22h4v-1zM7 7v2h18v-2h-2v1h-2v-1h-10v1h-2v-1h-2zM7 11v14h18v-14h-18zM13 13h2v2h-2v-2zM17 13h2v2h-2v-2zM21 13h2v2h-2v-2zM9 17h2v2h-2v-2zM13 17h2v2h-2v-2zM17 17h2v2h-2v-2zM21 17h2v2h-2v-2zM9 21h2v2h-2v-2zM13 21h2v2h-2v-2zM17 21h2v2h-2v-2z'%3E%3C/path%3E%3C/svg%3E");
}
.views-id--dgm .facets-widget-dropdown select, .views-id--dgm .facets-widget-dropdown input[type=text], .views-id--dgm .facets-widget-location_range select, .views-id--dgm .facets-widget-location_range input[type=text], .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm] select, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm] input[type=text], .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item select, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item input[type=text], .views-id--event .facets-widget-dropdown select, .views-id--event .facets-widget-dropdown input[type=text], .views-id--event .facets-widget-location_range select, .views-id--event .facets-widget-location_range input[type=text], .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm] select, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm] input[type=text], .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item select, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item input[type=text] {
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--color--foreground);
  height: var(--input--height);
  padding: 0.5rem var(--arrow--width) 0.5rem 2.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}
.views-id--dgm .facets-widget-dropdown[class*=facets]::after, .views-id--dgm .facets-widget-dropdown[class*=js-form-item-field-geo-proximity]::after, .views-id--dgm .facets-widget-dropdown[class*=js-form-item-field-dates-value]::after, .views-id--dgm .facets-widget-location_range[class*=facets]::after, .views-id--dgm .facets-widget-location_range[class*=js-form-item-field-geo-proximity]::after, .views-id--dgm .facets-widget-location_range[class*=js-form-item-field-dates-value]::after, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm][class*=facets]::after, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm][class*=js-form-item-field-geo-proximity]::after, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm][class*=js-form-item-field-dates-value]::after, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item[class*=facets]::after, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item[class*=js-form-item-field-geo-proximity]::after, .views-id--dgm .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item[class*=js-form-item-field-dates-value]::after, .views-id--event .facets-widget-dropdown[class*=facets]::after, .views-id--event .facets-widget-dropdown[class*=js-form-item-field-geo-proximity]::after, .views-id--event .facets-widget-dropdown[class*=js-form-item-field-dates-value]::after, .views-id--event .facets-widget-location_range[class*=facets]::after, .views-id--event .facets-widget-location_range[class*=js-form-item-field-geo-proximity]::after, .views-id--event .facets-widget-location_range[class*=js-form-item-field-dates-value]::after, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm][class*=facets]::after, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm][class*=js-form-item-field-geo-proximity]::after, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm][class*=js-form-item-field-dates-value]::after, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item[class*=facets]::after, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item[class*=js-form-item-field-geo-proximity]::after, .views-id--event .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item[class*=js-form-item-field-dates-value]::after {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: var(--arrow--width);
  height: var(--input--height);
  background-image: url("data:image/svg+xml, %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath id='svglib__arrow-down' fill='currentColor' d='M15 4h2v20.063l6.781-6.781 1.438 1.438-8.5 8.5-0.719 0.688-0.719-0.688-8.5-8.5 1.438-1.438 6.781 6.781v-20.063z'%3E%3C/path%3E%3C/svg%3E%0A");
  position: absolute;
  top: 50%;
  right: var(--arrow--width);
  pointer-events: none;
  transform: translateY(-50%);
  background-size: var(--arrow--width);
}

h1.node__title {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 1rem;
}

.node__content--intro {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 1rem;
}

/**
 * touristic pages
 */
.node__factbox {
  display: flex;
  flex-flow: row wrap;
}
.node__factbox--highlighttext {
  color: var(--color--highlight);
  font-weight: var(--font-weight--bold);
}
.node__factbox--accentedbg {
  background-color: var(--color--background-accent);
  color: var(--color--text);
  padding: 1rem;
}
.node__factbox--accentedbg a:not(.btn--primary) {
  color: inherit;
}
.node__factbox--accentedbg a:not(.btn--primary):hover, .node__factbox--accentedbg a:not(.btn--primary):focus {
  color: var(--color--highlight);
}

.node__facticon {
  flex: 0 0 50px;
  font-size: 2rem;
  line-height: 1;
  padding-top: 0.75rem;
  align-self: flex-start;
  min-height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.node__facticon:first-child {
  padding-top: 0;
}

.node__facts {
  flex: 1 1 calc(100% - 50px);
  padding-top: 0.75rem;
  align-self: center;
  min-height: 3rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
}
.node__facts:nth-child(2) {
  padding-top: 0;
}
.node__facts .field--postcode {
  display: inline-block;
  margin-right: 0.2em;
}
.node__facts .field--postcode + * {
  display: block;
}
.node__facts .field--postcode + .field--city {
  display: inline-block;
}
.node__facts > * + .field--actionlink {
  margin-top: 1rem;
}
.node__facts .field--phone, .node__facts .field--email, .node__facts .field--homepage {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.node__facts .field--phone > a, .node__facts .field--email > a, .node__facts .field--homepage > a {
  display: table-cell;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.node__content--upper {
  display: grid;
  gap: 2rem;
  margin-bottom: 3rem;
}
@media (max-width: 1023px) {
  .node__content--upper {
    grid-template-columns: 100%;
  }
}
@media (min-width: 1024px) {
  .node__content--upper {
    grid-template-columns: minmax(400px, 1fr) minmax(400px, 1fr);
  }
}
@media (max-width: 1023px) {
  .node__content--upper .node__image {
    margin-bottom: 1rem;
  }
}
@media (min-width: 1024px) {
  .node__content--upper .node__image {
    margin-bottom: 3rem;
  }
}
.node__content--upper .node__text {
  margin-bottom: 3rem;
}
.node__content--upper .node__text > * + * {
  margin-top: 2rem;
}

.node__content--middle .node__description {
  max-width: 1000px;
  margin: 0 auto 3rem;
}
.node__content--middle .node__text + .node__openhours, .node__content--middle .node__text + .openhours-title {
  margin-top: 1.5rem;
}
.node__content--middle .openhours-title {
  margin-bottom: 1rem;
}
.node__content--middle .node__taxonomies {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  max-width: 1600px;
  margin: 0 auto 3rem;
}
@media (max-width: 540px) {
  .node__content--middle .node__taxonomies > * {
    flex: 0 0 100%;
  }
}
.node__content--middle .node__taxonomies > *:first-child:last-child {
  flex: 0 0 auto;
}
@media (max-width: 1023px) {
  .node__content--middle .node__taxonomies > *:first-child:last-child {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .node__content--middle .node__taxonomies > *:first-child:last-child {
    width: 500px;
  }
}
@media (min-width: 541px) and (max-width: 1023px) {
  .node__content--middle .node__taxonomies > *:nth-last-child(n+2):nth-last-child(-n+2):first-child, .node__content--middle .node__taxonomies > *:nth-last-child(n+2):nth-last-child(-n+2):first-child ~ *, .node__content--middle .node__taxonomies > *:nth-last-child(n+4):nth-last-child(-n+4):first-child, .node__content--middle .node__taxonomies > *:nth-last-child(n+4):nth-last-child(-n+4):first-child ~ * {
    flex: 1 1 auto;
    width: 50%;
  }
  .node__content--middle .node__taxonomies > *:nth-last-child(n+3):nth-last-child(-n+3):first-child, .node__content--middle .node__taxonomies > *:nth-last-child(n+3):nth-last-child(-n+3):first-child ~ * {
    flex: 1 1 auto;
    width: 33.3333%;
  }
}
@media (min-width: 1024px) {
  .node__content--middle .node__taxonomies > *:nth-last-child(n+2):nth-last-child(-n+2):first-child, .node__content--middle .node__taxonomies > *:nth-last-child(n+2):nth-last-child(-n+2):first-child ~ *, .node__content--middle .node__taxonomies > *:nth-last-child(n+3):nth-last-child(-n+3):first-child, .node__content--middle .node__taxonomies > *:nth-last-child(n+3):nth-last-child(-n+3):first-child ~ * {
    flex: 1 1 auto;
    width: 33.3333%;
  }
  .node__content--middle .node__taxonomies > *:nth-last-child(n+4):nth-last-child(-n+4):first-child, .node__content--middle .node__taxonomies > *:nth-last-child(n+4):nth-last-child(-n+4):first-child ~ * {
    flex: 1 1 auto;
    width: 25%;
  }
}
.node__content--middle .node__taxonomies .node__facts {
  margin-bottom: auto;
}
.node__content--middle .node__taxonomies .node__facts h4 {
  padding-top: 0.667rem;
}
.node__content--middle .node__taxonomies ul {
  margin-left: -1em;
}
.node__content--middle .node__taxonomies ul.gastronomy__capacity {
  margin-bottom: 0;
}

.node__video {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto 3rem;
}

.node__geobtn {
  padding: 0.5rem 0;
  text-align: center;
}

.open_hours__table {
  width: 100%;
}
.open_hours__table thead {
  display: none;
}
.open_hours__table tbody > tr:nth-child(odd) {
  background-color: var(--color--background-accent);
}
.open_hours__table td {
  padding: 2px 5px;
}
@media (min-width: 768px) {
  .open_hours__table td {
    padding: 5px 15px;
  }
}

.open_hours__day {
  vertical-align: top;
}
@media (min-width: 768px) {
  .open_hours__day {
    width: 20rem;
    padding: 5px 10px;
  }
}

.open_hours__time p {
  margin-bottom: 0;
}

.field--type-open_hours ~ .field--openhours.field--type-text_long {
  margin-top: 1rem;
}

/**
 * Node meta data
 */
.node__datasource {
  font-size: 14px;
  text-align: center;
  opacity: 0.7;
}
.node__datasource:hover, .node__datasource:focus, .node__datasource:focus-within {
  opacity: 1;
}
.node__datasourcedl {
  margin: 2rem auto 0 auto;
  padding: 0;
  display: grid;
}
@media (max-width: 767px) {
  .node__datasourcedl {
    grid-template-columns: min-content 1fr;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .node__datasourcedl {
    grid-template-columns: 1fr 1fr;
    width: 730px;
  }
}
.node__datasourcedt {
  white-space: nowrap;
  padding: 0 0.25em 0.25em 0;
  text-align: right;
}
@media (min-width: 768px) {
  .node__datasourcedt {
    padding-right: 0.75em;
  }
}
.node__datasourcedd {
  margin: 0;
  padding: 0 0 0.25em 0.25em;
  text-align: left;
}
@media (min-width: 768px) {
  .node__datasourcedd {
    padding-left: 0.75em;
  }
}

/**
 *
 * Shared styles for all tiles
 *
 */
/**
 * container for all tile lists except infopoint frontpage
 */
.tile-container {
  margin-left: var(--tile-container--margin);
  margin-right: var(--tile-container--margin);
  display: grid;
  gap: var(--tile--gap);
}
@media (max-width: 767px) {
  .tile-container:not(.tile-container--listitem) {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .tile-container.tile-container--dgmpage {
    --tile--min-width: 232px;
    --tile--gap: 10px;
  }
}
@media (min-width: 768px) {
  .tile-container {
    grid-template-columns: repeat(auto-fill, minmax(var(--tile--min-width), 1fr));
    padding-bottom: var(--main--padding, 0px);
  }
}
.tile-container.tile-container--listitem {
  /**
   * tiles in here have approx the size of 2x1 tiles,
   * with the layout of a linkblock (img left, longer teaser text right)
   */
  --tile--min-width: 300px;
}
@media (min-width: 768px) {
  .tile-container.tile-container--listitem {
    --tile--min-width: 400px;
  }
}
.tile-container > .tile--1x1 {
  position: relative;
}
.tile-container > .tile--1x1::before {
  content: "";
  display: block;
  width: 1px;
  height: 0;
  padding-top: 75%;
  padding-bottom: var(--tile--bar--min-height);
}
.tile-container > .tile--1x1 > .tile__wrapper {
  position: absolute;
  left: 0;
  top: 0;
}

/**
 * similar .tile-container, but only mobile touchfront
 */
.dgmmobile .tile--1x1 {
  grid-column: span 1;
}
.dgmmobile .tile--2x1 {
  grid-column: span 2;
}

.dgminfopoint {
  display: grid;
  width: 100%;
  height: 100%;
  grid-auto-flow: dense;
  margin-left: var(--tile-container--margin);
  margin-right: var(--tile-container--margin);
  gap: var(--tile--gap);
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1399px) {
  .dgminfopoint {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(5, minmax(0, 1fr));
    grid-template-areas: "slot1 slot1 slot1 slot2" "slot1 slot1 slot1 slot3" "slot4 slot7 slot8 slot8" "slot5 slot5 slot6 slot6" "slot5 slot5 slot6 slot6";
  }
}
@media (orientation: landscape) and (min-width: 768px), (min-width: 1400px) {
  .dgminfopoint {
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-areas: "slot1 slot1 slot1 slot2 slot3 slot4 slot4" "slot1 slot1 slot1 slot5 slot5 slot6 slot6" "slot7 slot8 slot8 slot5 slot5 slot6 slot6";
  }
}
.dgminfopoint .tile {
  height: 100%;
}
.dgminfopoint .tile--3x2 {
  grid-area: slot1;
}
.dgminfopoint .tile--2x2 {
  grid-area: slot5;
}
.dgminfopoint .tile--2x2 + .tile--2x2 {
  grid-area: slot6;
}
.dgminfopoint .tile--2x1 {
  grid-column: span 2;
}
.dgminfopoint__slot4 {
  width: 100%;
  height: 100%;
  grid-area: slot4;
}
.dgminfopoint__orientationwrapper {
  width: 100%;
  height: 100%;
}

.tile {
  position: relative;
  overflow: hidden;
}
.tile--listitem {
  display: flex;
  width: 100%;
  align-items: stretch;
}
.tile--highlightbg {
  background-color: var(--color--highlight);
  color: var(--color--highlight-inverse);
}
.tile--highlightbg a, .tile--highlightbg a:hover, .tile--highlightbg a:focus {
  color: var(--color--highlight-inverse);
}
.tile__wrapper {
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: var(--tile--bar--min-height);
}
.tile__wrapper * {
  /* explicitly set to overrule google maps style */
  box-sizing: border-box;
}
.tile__wrapper--no-bar {
  padding-bottom: 0;
}
.tile__wrapper--listitem {
  --tile-listitem-imgwidth: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: var(--tile-listitem-imgwidth) 1fr min-content;
  gap: var(--tile--gap);
  max-height: 300px;
  padding: var(--tile--gap);
  overflow: hidden;
  background-color: var(--tile--bar--background);
}
@media (min-width: 768px) {
  .tile__wrapper--listitem {
    --tile-listitem-imgwidth: 120px;
  }
}
.geolocation-map-wrapper .tile__wrapper--listitem {
  --tile-listitem-imgwidth: 180px;
  grid-template-columns: 1fr min-content;
  padding: 0;
}
.geolocation-map-wrapper .tile__wrapper--listitem .tile__left {
  grid-column: span 2;
  width: 100%;
}
.tile__left {
  width: var(--tile-listitem-imgwidth);
}
.tile__center {
  color: var(--tile--bar--foreground);
}
.tile__center > * {
  margin-bottom: 0;
}
.tile__center > * + * {
  margin-top: 0.5rem;
}
.tile__right {
  display: flex;
  flex-flow: column nowrap;
}
.tile__right > * + * {
  margin-top: 0.5rem;
}
.tile__imgbutton {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color--highlight);
  color: var(--color--highlight-inverse);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  text-align: center;
  font-size: var(--tile--subtitle--font);
  padding: 5px 10px;
  line-height: 1.15;
}
.tile__img.tile__img--listitem {
  display: block;
  width: 100%;
  height: auto;
}
.tile__bar {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--tile--bar--background);
  color: var(--tile--bar--foreground);
  min-height: var(--tile--bar--min-height);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 0 5px;
  line-height: 1.15;
}
.tile__title {
  font: var(--tile--title--font);
}
.tile__subtitle {
  font: var(--tile--subtitle--font);
}
.tile__subtitle--tour > * {
  display: inline;
}
.tile__subtitle--tour > * + *::before {
  content: " - ";
}
.tile__tags {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  max-width: calc(100% - 1rem);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3px;
}
.tile__tag {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: var(--color--highlight);
  color: var(--color--highlight-inverse);
  font: var(--tile--subtitle--font);
  line-height: 1;
  padding: 2px 5px;
  border-radius: 3px;
}
.tile__tag-icon {
  margin-right: 0.5em;
}
.tile__tag-text {
  display: inline-block;
}
.tile__tag--open_hours {
  display: block;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}
.tile__tag--is-open {
  background-color: green;
}
.tile__tag--is-closed {
  background-color: red;
}

/**
 * styles reused accross multiple bundles
 */
.tile--1x1 .field--imagefile, .tile__img, .tile .field--imagefile, .tile .field--imagefiles {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
}
.tile--1x1 .field--imagefile > img, .tile__img > img, .tile .field--imagefile > img, .tile .field--imagefiles > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: unset;
}
.tile--1x1 .field--imagefile > iframe, .tile__img > iframe, .tile .field--imagefile > iframe, .tile .field--imagefiles > iframe {
  width: 100%;
  height: 100%;
  border: 0 none;
  aspect-ratio: unset;
}

/**
 * styles used only in specific bundles
 */
.tile--dgmtext .field--text {
  padding: var(--main--padding);
}

.tile--dgmimage.tile--2x1 .field--imagefile img {
  width: 100%;
  height: auto;
  object-fit: unset;
}

.tile--slogan {
  position: relative;
}
.tile--slogan .cktext {
  padding: var(--main--padding);
  position: relative;
}
.tile--slogan .slogan__icon {
  position: absolute;
  top: 15%;
  left: 5%;
  height: 50%;
  width: auto;
  display: block;
  color: var(--color--highlight);
  opacity: 0.3;
}

.node__content--dgmpage {
  max-width: 1200px;
  margin: 0 auto 1rem;
}
@media (min-width: 768px) {
  .node__content--dgmpage {
    overflow: hidden;
  }
}
.node__content--dgmpage > .paragraph {
  margin-bottom: 3rem;
}
.node__content--dgmpage > .paragraph--dgmcolumns {
  margin-bottom: 0;
}
.node__content--dgmpage > .paragraph--dgmcolumns > * {
  margin-bottom: 3rem;
}
.node__content--dgmpage .dgmaccordion__container {
  margin: 0;
  padding: 0;
}
.node__content--dgmpage .dgmaccordion__header {
  color: var(--color--highlight);
  cursor: pointer;
  font-size: 1rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  position: relative;
  border: 1px solid var(--color--highlight);
}
.node__content--dgmpage .dgmaccordion__headicon {
  transition: transform 400ms ease;
  transform: rotate(0);
}
.dgmaccordion__header[aria-expanded=true] .dgmaccordion__headicon {
  transform: rotate(90deg);
}

.node__content--dgmpage .dgmaccordion__headtext {
  margin-left: 0.5rem;
}
.node__content--dgmpage .dgmaccordion__body {
  margin: 0 0 1rem 0;
}
.node__content--dgmpage .paragraph--dgmcolumns {
  display: flex;
  flex-flow: row wrap;
  margin: 0 calc(var(--tile--gap) * -1);
}
.node__content--dgmpage .paragraph--dgmcolumns .dgmcolumns__col {
  padding: 0 var(--tile--gap);
}
@media (min-width: 768px) {
  .node__content--dgmpage .paragraph--dgmcolumns .dgmcolumns__col {
    /**
     * a sub-pixel-rendering rounding error caused by embedded webcams causes
     * an unwanted linebreak, this hidden overflow prevents it
     */
    overflow: hidden;
  }
}
.node__content--dgmpage .paragraph--dgmcolumns .dgmcolumns__col--33, .node__content--dgmpage .paragraph--dgmcolumns .dgmcolumns__col--34 {
  flex: 0 0 33.3333%;
}
.node__content--dgmpage .paragraph--dgmcolumns .dgmcolumns__col--50 {
  flex: 0 0 50%;
}
.node__content--dgmpage .paragraph--dgmcolumns .dgmcolumns__col--67 {
  flex: 0 0 66.6666%;
}
@media (max-width: 767px) {
  .node__content--dgmpage .paragraph--dgmcolumns .dgmcolumns__col {
    flex: 0 0 100%;
  }
}
@media (max-width: 1023px) {
  .node__content--dgmpage .paragraph--dgmcolumns .dgmcolumns__col--count3 {
    flex: 0 0 100%;
  }
}
.node__content--dgmpage .paragraph--dgmcolumns .tile__wrapper.webcam__panomax {
  height: 200px;
}
@media (min-width: 768px) {
  .node__content--dgmpage .paragraph--dgmcolumns .tile__wrapper.webcam__panomax {
    height: 290px;
  }
}
@media (min-width: 768px) {
  .node__content--dgmpage .paragraph--dgmcolumns.dgmcolumns--force-height .dgmcolumns__col--count2 {
    display: flex;
    align-items: stretch;
  }
  .node__content--dgmpage .paragraph--dgmcolumns.dgmcolumns--force-height .dgmcolumns__col--count2 > * {
    width: 100%;
  }
  .node__content--dgmpage .paragraph--dgmcolumns.dgmcolumns--force-height .tile--avalanche {
    align-self: flex-start;
  }
  .node__content--dgmpage .paragraph--dgmcolumns.dgmcolumns--force-height .tile__img--avalanche {
    max-height: 290px;
  }
  .node__content--dgmpage .paragraph--dgmcolumns.dgmcolumns--force-height .tile__img--avalanche > svg {
    max-height: 290px;
  }
}
.node__content--dgmpage .paragraph--dgmgallery .field--imagefiles {
  display: grid;
  gap: var(--tile--gap);
}
@media (max-width: 767px) {
  .node__content--dgmpage .paragraph--dgmgallery .field--imagefiles {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .node__content--dgmpage .paragraph--dgmgallery .field--imagefiles {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}
.node__content--dgmpage .paragraph--dgmgallery .field--imagefiles img {
  width: 100%;
}
.node__content--dgmpage .paragraph--dgmmap .geolocation-google-map {
  margin: 0 auto;
}
.node__content--dgmpage .paragraph--dgmseparator {
  display: flex;
  width: 100%;
  margin-bottom: 3rem;
}
.node__content--dgmpage .paragraph--dgmseparator.dgmseparator--visible {
  border-top: 2px solid var(--color--foreground);
  opacity: 0.5;
}

/**
 * Webform
 */
.webform-submission-form {
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 1rem;
}
.webform-submission-form .form-item {
  width: 100%;
}
.webform-submission-form .form-item + .form-item {
  margin-top: 0.5rem;
}
.webform-submission-form label {
  display: block;
  width: 100%;
  font-weight: var(--font-weight--bold);
}
.webform-submission-form input, .webform-submission-form select, .webform-submission-form textarea {
  width: 100%;
}
.webform-submission-form div.js-form-type-checkbox, .webform-submission-form div.js-form-type-radio {
  display: flex;
  flex-flow: row nowrap;
}
.webform-submission-form div.js-form-type-checkbox input[type=checkbox], .webform-submission-form div.js-form-type-checkbox input[type=radio], .webform-submission-form div.js-form-type-radio input[type=checkbox], .webform-submission-form div.js-form-type-radio input[type=radio] {
  width: 1em;
  height: 1em;
  padding: 0;
}
.webform-submission-form div.js-form-type-checkbox input[type=checkbox] + label, .webform-submission-form div.js-form-type-checkbox input[type=radio] + label, .webform-submission-form div.js-form-type-radio input[type=checkbox] + label, .webform-submission-form div.js-form-type-radio input[type=radio] + label {
  padding-left: 0.5em;
}
.webform-submission-form input[type=text], .webform-submission-form input[type=select], .webform-submission-form textarea, .webform-submission-form input[type=email], .webform-submission-form input[type=tel], .webform-submission-form input[type=number] {
  padding: 0.5em 1em;
}
.webform-submission-form .form-actions {
  margin-top: 1.25rem;
}

.dgmvideo__container {
  position: relative;
  width: 100%;
}
.dgmvideo__container--16x9 {
  padding-top: 56.25%;
}
.dgmvideo__container--4x3 {
  padding-top: 75%;
}
.dgmvideo__container > iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.a_z--full {
  --a_z--width: 40px;
  height: 100%;
  width: 100%;
  padding-right: var(--a_z--width);
  position: relative;
}
.a_z__side {
  position: fixed;
  top: var(--pagehead--height);
  right: 0;
  background-color: var(--color--background-accent);
  width: var(--a_z--width);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 767px) {
  .a_z__side {
    bottom: 0;
    padding-bottom: var(--pagefoot--height);
  }
}
@media (min-width: 768px) {
  .a_z__side {
    bottom: var(--pagefoot--height);
  }
}
.a_z__letter {
  min-height: 20px;
  width: 100%;
  height: auto;
  flex: 1 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: stretch;
  border-top: 1px solid var(--color--background);
}
.a_z__link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.a_z__link--active {
  background: var(--color--highlight);
  color: var(--color--highlight-inverse);
}
.a_z__link:hover, .a_z__link:focus {
  background: var(--color--highlight-accent);
  color: var(--color--highlight-inverse);
}
.a_z__main {
  max-width: 1200px;
  margin: 0 auto;
}
.a_z__section {
  padding: 3rem 0;
}
.a_z__section + .a_z__section {
  border-top: 2px solid var(--color--highlight);
}

/**
 * Events
 */
.eventdate__flag {
  display: inline-block;
  background-color: var(--color--highlight);
  color: var(--color--highlight-inverse);
  font-weight: var(--font-weight--base);
  line-height: 1rem;
  font-size: calc(1rem - 3px);
  margin: 0 0.3rem;
  padding: 1.5px 0.6rem;
  position: relative;
  top: -1.5px;
}

.node__facts .field--dates {
  max-height: 7.5rem;
  overflow-y: scroll;
  scrollbar-width: 10px;
  scrollbar-color: var(--color--highlight) transparent;
}

.node__facts .field--dates::-webkit-scrollbar {
  width: 10px;
  -webkit-appearance: none;
}

.node__facts .field--dates::-webkit-scrollbar-track {
  background-color: var(--color--background-accent);
  border-radius: 5px;
}

.node__facts .field--dates::-webkit-scrollbar-thumb {
  background-color: var(--color--highlight);
  border-radius: 5px;
}

/**
 * Tour
 */
.tour__difficulty--touch > div, .tour__duration--touch > div {
  display: inline;
}

.leaflet__statswrapper {
  margin: 0 auto;
  width: 20rem;
  max-width: calc(100% - 20px);
  text-align: center;
  margin-bottom: 3rem;
}
.leaflet__statscontainer .leaflet__statstable {
  display: table;
  width: 100%;
}
.leaflet__statscontainer .leaflet__statstable > span {
  display: table-row;
}
.leaflet__statscontainer .leaflet__statstable > span:nth-child(even) {
  background-color: var(--color--background-accent);
}
.leaflet__statscontainer .leaflet__statstable > span::after {
  content: none !important;
}
.leaflet__statscontainer .leaflet__statstable > span.download {
  display: none;
}
.leaflet__statscontainer .leaflet__statstable > span > span {
  display: table-cell;
  text-align: left;
  padding: 0.3333rem 0.75rem;
}
.leaflet__statscontainer .leaflet__statstable > span > span:nth-child(2) {
  text-align: right;
}

.body--node-avalanche .wt__main {
  background-color: white;
}

.avalanche {
  /** this is foreign HTML, some of our styles will not fit here */
}
.avalanche--full {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 1rem;
}
.avalanche .tile__img--avalanche {
  padding: var(--tile--gap);
}
.avalanche .tile__img--avalanche > img, .avalanche .tile__img--avalanche > svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: 100%;
}
@media (max-width: 767px) {
  .avalanche--tile2x1 .tile__img--avalanche {
    height: 200px;
  }
}
.avalanche__embedhtml .col-12 > :last-child {
  /** do not use our oppinionated textflow styling */
  margin-bottom: revert;
}
.avalanche__embedhtml h5 {
  /* undo slogan styling */
  all: revert;
  font-size: 1rem;
}

.bookable {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto 3rem;
}
.bookable__header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
}
@media (max-width: 767px) {
  .bookable__header {
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .bookable__header {
    justify-content: space-between;
  }
}
.bookable__title {
  margin: 0;
}
@media (max-width: 767px) {
  .bookable__title {
    text-align: center;
    flex: 1 1 100%;
  }
}
@media (min-width: 768px) {
  .bookable__title {
    text-align: left;
    flex: 1 1 auto;
  }
}
.bookable__dateswitch {
  position: relative;
  border: 2px solid var(--color--highlight);
  background-color: var(--color--background-accent);
  --icon-width: 24px;
  --input-height: 2rem; /* .h2 */
}
@media (max-width: 767px) {
  .bookable__dateswitch {
    flex: 1 1 100%;
  }
}
@media (min-width: 768px) {
  .bookable__dateswitch {
    flex: 0 0 15rem;
  }
}
.bookable__dateswitch::after {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: var(--icon-width);
  height: var(--input-height);
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath id='svglib__calendar' fill='currentColor' d='M9 4h2v1h10v-1h2v1h4v22h-22v-22h4v-1zM7 7v2h18v-2h-2v1h-2v-1h-10v1h-2v-1h-2zM7 11v14h18v-14h-18zM13 13h2v2h-2v-2zM17 13h2v2h-2v-2zM21 13h2v2h-2v-2zM9 17h2v2h-2v-2zM13 17h2v2h-2v-2zM17 17h2v2h-2v-2zM21 17h2v2h-2v-2zM9 21h2v2h-2v-2zM13 21h2v2h-2v-2zM17 21h2v2h-2v-2z'%3E%3C/path%3E%3C/svg%3E");
  position: absolute;
  top: 50%;
  right: 1rem;
  pointer-events: none;
  transform: translateY(-50%);
  background-size: var(--icon-width);
}
.bookable__dateselect {
  font-size: 1rem;
  appearance: none;
  height: var(--input-height);
  padding-left: 1rem;
  padding-right: calc(var(--icon-width) + 3rem);
  width: 100%;
  border: 0 none;
}
.bookable__date > h2, .bookable__date > .bookable-calendar-opening-instance-key {
  display: none;
}
.bookable__inst {
  background-color: var(--color--background-accent);
  padding: 1.5rem 1rem 1rem;
  text-align: left;
}
.bookable__inst + .bookable__inst {
  margin-top: 1rem;
}
.bookable__insthead {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 767px) {
  .bookable__insthead {
    flex-flow: row wrap;
    justify-content: flex-start;
  }
}
@media (min-width: 768px) {
  .bookable__insthead {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
.bookable__instheadleft {
  line-height: 1.2;
}
@media (max-width: 767px) {
  .bookable__instheadleft {
    flex: 0 0 100%;
  }
}
@media (min-width: 768px) {
  .bookable__instheadleft {
    flex: 1 1 calc(100% - 19rem);
  }
}
.bookable__instheadleft > .bookable__instheadDate {
  display: block;
  font-size: 14px;
}
.bookable__instheadleft > * {
  display: inline-block;
}
.bookable__instheadright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px; /* push down by of .bookable__instheadDate */
}
@media (max-width: 767px) {
  .bookable__instheadright {
    flex: 0 0 100%;
  }
}
@media (min-width: 768px) {
  .bookable__instheadright {
    flex: 0 0 18rem;
  }
}
.bookable__available {
  font-size: 14px;
}
.bookable__available::before {
  content: "";
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  margin-right: 0.25em;
}
.bookable__available--available::before {
  background-color: green;
}
.bookable__available--soldout::before {
  background-color: red;
}
.bookable__instbody {
  margin-top: 1rem;
  border-top: 1px solid var(--color--background);
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}
@media (max-width: 767px) {
  .bookable__instbody {
    flex-flow: row wrap;
    justify-content: flex-start;
  }
}
@media (min-width: 768px) {
  .bookable__instbody {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
.bookable__instbody .field__label {
  text-decoration: underline;
}
@media (max-width: 767px) {
  .bookable__instbody > .field--description {
    flex: 0 0 100%;
  }
}
@media (min-width: 768px) {
  .bookable__instbody > .field--description {
    flex: 1 1 calc(100% - 19rem);
  }
}
@media (max-width: 767px) {
  .bookable__instbody > .field--info {
    flex: 0 0 100%;
  }
}
@media (min-width: 768px) {
  .bookable__instbody > .field--info {
    flex: 0 0 18rem;
  }
}

.bookform {
  max-width: 1000px;
  margin: 0 auto;
  padding-inline: 1rem;
}
.bookform__title, .bookform__node {
  text-align: center;
}
.bookform .availability__link {
  display: none;
}
.bookform form {
  margin-block: 3rem;
}
.bookform form #edit-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
}
.bookform form #edit-actions > * {
  flex: 1 1 100%;
  text-align: center;
}
.bookform form .form-item-field-privacy-value > label {
  display: none;
}
.bookform form .form-item-field-privacy-value > input[type=checkbox] {
  margin-left: 0;
  margin-right: 0.5rem;
}

.bookcontact {
  max-width: 1000px;
  margin: 0 auto;
  padding-inline: 1rem;
}
.bookcontact__header {
  text-align: center;
}
.bookcontact .bookable__inst a.availability__link {
  display: none !important;
}
.bookcontact__person {
  max-width: 400px;
  margin: 2rem auto;
}
.bookcontact__person .field__label {
  text-decoration: underline;
  opacity: 0.8;
}
.bookcontact__person .field + .field {
  margin-top: 0.5rem;
}
.bookcontact__person .field--party_size + a[href^="/bookable-calendar/booking-calendar-opening-instance/"] {
  display: none !important;
}
.bookcontact__actions {
  padding: 2rem 0;
}

div[data-drupal-messages]:has(div) {
  margin: 1rem auto;
  max-width: 1000px;
  padding: 0 1rem;
}
div[data-drupal-messages]:has(div) > * + * {
  margin-top: 1rem;
}
div[data-drupal-messages]:has(div) div[role=contentinfo] {
  border-left: 5px solid green;
  background-color: rgba(0, 143, 0, 0.2);
  padding: 1rem;
  text-align: left;
}
div[data-drupal-messages]:has(div) div[role=contentinfo]::before {
  content: "";
}

.form-item--error label, .form-item--error .form-item--error-message {
  color: rgb(220, 54, 46);
}
.form-item--error input {
  background-color: rgb(252, 235, 235);
  border-color: rgb(220, 54, 46);
}

/**
 *
 * Global utilities and helpers
 * include at the end so they override generic styles
 *
 */
.hidden {
  display: none;
}

@media (max-width: 767px) {
  .hidden\@xs {
    display: none;
  }
}

@media (min-width: 768px) {
  .hidden\@lg {
    display: none;
  }
}

@media (orientation: portrait) and (min-width: 768px) and (max-width: 1399px) {
  .hidden\@lg-pt {
    display: none;
  }
}

@media (orientation: landscape) and (min-width: 768px), (min-width: 1400px) {
  .hidden\@lg-ls {
    display: none;
  }
}

/**
 * similar to hidden, but these class is for explicit JS usage
 */
.js-collapsed {
  display: none;
}

.js-expanded {
  display: block;
}

/*# sourceMappingURL=dgm_touch.css.map */
