<div {{ attributes }} typeof="Place">
  <span property="geo" typeof="GeoCoordinates">
    <meta property="latitude" content="{{ coordinates.lat }}" />
    <meta property="longitude" content="{{ coordinates.lng }}" />
  </span>

  {% if title is not empty %}
    <h2 class="location-title" property="name">{{ title }}</h2>
  {% endif %}

  {% if children is not empty %}
    {% set rendered_entity_html = children|render %}

    {# coming from search api views, we always search in german on Solr (to allow language fallbacks) #}
    {# but the results should be still in current language if a translation is available #}
    {% set node_id_from_views_searchapi = attribute(row, 'entity:node/nid').0|trim %}
    {% if node_id_from_views_searchapi %}
      {% set view_mode = children.0['#view_mode']|default('tile1x1') %}
      {% set rendered_entity_html = drupal_entity('node', node_id_from_views_searchapi, view_mode)|render %}
    {% endif %}

    {% set distance = attribute(row, 'entity:node/field_geo__distance').0|trim %}
    {% if distance %}
      {##
       # START GEO_DISTANCE_HACK
       #
       # Due the sheer number of them, we want to reuse our existing entity view modes/twig templates.
       # This hack injects the geo distance into a drupal entity render array, because that data is not available
       # in the drupal database (it is provided by the Solr search result)
       #
       # @see @dgm_touch/templates/node/_node--tile.html.twig
       # @see @dgm_touch/templates/node/_node--tile_listitem.html.twig
      #}
      {% if view_mode == 'tile_listitem' %}
        {% set geo_distance_label %}
          <div class="tile__subtitle tile__subtitle--distance">
            {{ '@number km away'|t({'@number': distance|number_format(1, ',')}) }}
          </div>
        {% endset %}
        {% set rendered_entity_html = rendered_entity_html|replace({'<!-- ### TILE_SUBTITLE_TAG ### -->': geo_distance_label}) %}
      {% else %}
        {% set geo_distance_label %}
          <div class="tile__tag tile__tag--distance">
            <i class="tile__tag-icon fal fa-route"></i>
            <div class="tile__tag-text">{{ '@number km away'|t({'@number': distance|number_format(1, ',')}) }}</div>
          </div>
        {% endset %}
        {% set rendered_entity_html = rendered_entity_html|replace({'<!-- ### TILE_IMG_TAG_AFTER ### -->': geo_distance_label}) %}
      {% endif %}
      {# END GEO_DISTANCE_HACK #}
    {% endif %}
    <div class="location-content">{{ rendered_entity_html|raw }}</div>
  {% endif %}
</div>
