{% set inst = element['booking_instance'] %}
{% set meta = element['#meta'] %}

<div class="bookform">
  <div class="bookform__header cktext">
    <h1 class="bookform__title hidden@lg">{{ 'Make a reservation'|t }}</h1>
    <h2 class="bookform__node">{{ meta.node.label() }}</h2>
    {{ drupal_entity('bookable_calendar_opening_inst', meta.bookable_calendar_opening_inst.id()) }}
  </div>

  <form{{ attributes.addClass('webform-submission-form') }}>
    {{ children }}
  </form>
</div>

