@use "mixins/bp";

.a_z {
  &--full {
    --a_z--width: 40px;
    height: 100%;
    width: 100%;
    padding-right: var(--a_z--width);
    position: relative;
  }

  &__side {
    position: fixed;
    top: var(--pagehead--height);
    right: 0;
    background-color: var(--color--background-accent);
    width: var(--a_z--width);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    @include bp.xs {
      bottom: 0;
      padding-bottom: var(--pagefoot--height);
    }

    @include bp.lg {
      bottom: var(--pagefoot--height);
    }
  }

  &__letter {
    min-height: 20px;
    width: 100%;
    height: auto;
    flex: 1 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: stretch;
    border-top: 1px solid var(--color--background);
  }

  &__link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &--active {
      background: var(--color--highlight);
      color: var(--color--highlight-inverse);
    }

    &:hover, &:focus {
      background: var(--color--highlight-accent);
      color: var(--color--highlight-inverse);
    }
  }

  &__main {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__section {
    padding: 3rem 0;

    & + & {
      border-top: 2px solid var(--color--highlight);
    }
  }
}
