@use "mixins/bp";

.body--node-avalanche .wt__main {
  background-color: white;
}

.avalanche {
  &--full {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 1rem;
  }

  .tile__img--avalanche {
    padding: var(--tile--gap);

    > img, > svg {
      max-width: 100%;
      max-height: 100%;
      height: auto;
      width: 100%;
    }

  }
  @include bp.xs {
    &--tile2x1 {
      .tile__img--avalanche {
        height: 200px;
      }
    }
  }

  /** this is foreign HTML, some of our styles will not fit here */
  &__embedhtml {
    .col-12 > :last-child {
      /** do not use our oppinionated textflow styling */
      margin-bottom: revert;
    }

    h5 {
      /* undo slogan styling */
      all: revert;
      font-size: 1rem;
    }
  }
}
