@use "_generic";
@use "mixins/bp";

.bookable {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto 3rem;

  &__header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 2rem;
    gap: 1rem;

    @include bp.xs {
      justify-content: center;
    }

    @include bp.lg {
      justify-content: space-between;
    }
  }

  &__title {
    margin: 0;

    @include bp.xs {
      text-align: center;
      flex: 1 1 100%;
    }

    @include bp.lg {
      text-align: left;
      flex: 1 1 auto;
    }
  }

  &__dateswitch {
    position: relative;
    border: 2px solid var(--color--highlight);
    background-color: var(--color--background-accent);
    --icon-width: 24px;
    --input-height: 2rem; /* .h2 */

    @include bp.xs {
      flex: 1 1 100%;
    }

    @include bp.lg {
      flex: 0 0 15rem;
    }

    &::after {
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      width: var(--icon-width);
      height: var(--input-height);
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath id='svglib__calendar' fill='currentColor' d='M9 4h2v1h10v-1h2v1h4v22h-22v-22h4v-1zM7 7v2h18v-2h-2v1h-2v-1h-10v1h-2v-1h-2zM7 11v14h18v-14h-18zM13 13h2v2h-2v-2zM17 13h2v2h-2v-2zM21 13h2v2h-2v-2zM9 17h2v2h-2v-2zM13 17h2v2h-2v-2zM17 17h2v2h-2v-2zM21 17h2v2h-2v-2zM9 21h2v2h-2v-2zM13 21h2v2h-2v-2zM17 21h2v2h-2v-2z'%3E%3C/path%3E%3C/svg%3E");
      position: absolute;
      top: 50%;
      right: 1rem;
      pointer-events: none;
      transform: translateY(-50%);
      background-size: var(--icon-width);
    }
  }

  &__dateselect {
    font-size: 1rem;
    appearance: none;
    height: var(--input-height);
    padding-left: 1rem;
    padding-right: calc(var(--icon-width) + 3rem);
    width: 100%;
    border: 0 none;
  }

  &__date {
    > h2, > .bookable-calendar-opening-instance-key {
      display: none;
    }
  }

  &__inst {
    background-color: var(--color--background-accent);
    padding: 1.5rem 1rem 1rem;
    text-align: left;

    & + & {
      margin-top: 1rem;
    }
  }

  &__insthead {
    display: flex;
    align-items: center;
    gap: 1rem;

    @include bp.xs {
      flex-flow: row wrap;
      justify-content: flex-start;
    }

    @include bp.lg {
      flex-flow: row nowrap;
      justify-content: space-between
    }
  }

  &__instheadleft {
    @extend .h3;
    line-height: 1.2;

    @include bp.xs {
      flex: 0 0 100%;
    }
    @include bp.lg {
      flex: 1 1 calc(100% - 19rem);
    }

    > .bookable__instheadDate {
      display: block;
      font-size: 14px;
    }

    > * {
      display: inline-block;
    }
  }

  &__instheadright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px; /* push down by of .bookable__instheadDate */

    @include bp.xs {
      flex: 0 0 100%;
    }
    @include bp.lg {
      flex: 0 0 18rem;
    }
  }

  &__available {
    font-size: 14px;
    &::before {
      content: '';
      display: inline-block;
      width: 0.75em;
      height: 0.75em;
      border-radius: 50%;
      margin-right: 0.25em;
    }

    &--available::before {
      background-color: green;
    }

    &--soldout::before {
      background-color: red;
    }
  }

  &__instbody {
    margin-top: 1rem;
    border-top: 1px solid var(--color--background);
    padding-top: 1rem;
    display: flex;
    gap: 1rem;

    @include bp.xs {
      flex-flow: row wrap;
      justify-content: flex-start;
    }

    @include bp.lg {
      flex-flow: row nowrap;
      justify-content: space-between
    }

    .field__label {
      text-decoration: underline;
    }

    > .field--description {
      @include bp.xs {
        flex: 0 0 100%;
      }
      @include bp.lg {
        flex: 1 1 calc(100% - 19rem);
      }
    }

    > .field--info {
      @include bp.xs {
        flex: 0 0 100%;
      }
      @include bp.lg {
        flex: 0 0 18rem;
      }
    }
  }
}

.bookform {
  max-width: 1000px;
  margin: 0 auto;
  padding-inline: 1rem;

  &__title, &__node {
    text-align: center;
  }

  .availability__link {
    display: none;
  }

  form {
    margin-block: 3rem;

    #edit-actions {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: stretch;
      gap: 1rem;

      > * {
        flex: 1 1 100%;
        text-align: center;
      }
    }

    .form-item-field-privacy-value {
      > label {
        display: none;
      }
      > input[type=checkbox] {
        margin-left: 0;
        margin-right: 0.5rem;
      }
    }
  }
}

.bookcontact {
  max-width: 1000px;
  margin: 0 auto;
  padding-inline: 1rem;

  &__header {
    text-align: center;
  }

  .bookable__inst a.availability__link {
    display: none !important;
  }

  &__person {
    max-width: 400px;
    margin: 2rem auto;

    .field__label {
      text-decoration: underline;
      opacity: 0.8;
    }

    .field + .field {
      margin-top: 0.5rem;
    }

    .field--party_size + a[href^="/bookable-calendar/booking-calendar-opening-instance/"] {
      display: none !important;
    }
  }

  &__actions {
    padding: 2rem 0;
  }
}

div[data-drupal-messages]:has(div) {
  margin: 1rem auto;
  max-width: 1000px;
  padding: 0 1rem;

  > * + * {
    margin-top: 1rem;
  }

  div[role="contentinfo"] {
    border-left: 5px solid green;
    background-color: rgb(0 143 0 / 0.2);
    padding: 1rem;
    text-align: left;

    &::before {
      content: '';
    }
  }
}

.form-item--error {
  label, .form-item--error-message {
    color: rgb(220 54 46 / 1);
  }
  input {
    background-color: rgb(252 235 235 / 1);
    border-color: rgb(220 54 46 / 1);
  }
}
