/**
 * Webform
 */

.webform-submission-form {
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 1rem;

  .form-item {
    width: 100%;

    & + .form-item {
      margin-top: 0.5rem;
    }
  }

  label {
    display: block;
    width: 100%;
    font-weight: var(--font-weight--bold);
  }

  input, select, textarea {
    width: 100%;
  }

  div.js-form-type-checkbox, div.js-form-type-radio {
    display: flex;
    flex-flow: row nowrap;

    input[type=checkbox], input[type=radio] {
      width: 1em;
      height: 1em;
      padding: 0;

      + label {
        padding-left: 0.5em;
      }
    }
  }

  input[type=text], input[type=select], textarea, input[type=email], input[type=tel], input[type=number] {
    padding: 0.5em 1em;
  }

  .form-actions {
    margin-top: 1.25rem;
  }
}
