@use "mixins/bp";

.node__content--dgmpage {
  max-width: 1200px;
  margin: 0 auto 1rem;

  @include bp.lg {
    overflow: hidden;
  }

  > .paragraph {
    margin-bottom: 3rem;

    &--dgmcolumns {
      margin-bottom: 0;

      > * {
        margin-bottom: 3rem;
      }
    }
  }

  .dgmaccordion {
    &__container {
      margin: 0;
      padding: 0;
    }

    &__header {
      color: var(--color--highlight);
      cursor: pointer;
      font-size: 1rem;
      margin: 0 0 1rem 0;
      padding: 0.5rem;
      position: relative;
      border: 1px solid var(--color--highlight);
    }

    &__headicon {
      transition: transform 400ms ease;
      transform: rotate(0);

      @at-root {
        .dgmaccordion__header[aria-expanded=true] .dgmaccordion__headicon {
          transform: rotate(90deg);
        }
      }
    }

    &__headtext {
      margin-left: 0.5rem;
    }

    &__body {
      margin: 0 0 1rem 0;
    }
  }

  .paragraph--dgmcolumns {
    display: flex;
    flex-flow: row wrap;
    margin: 0 calc(var(--tile--gap) * -1);

    .dgmcolumns__col {
      padding: 0 var(--tile--gap);

      @include bp.lg {
        /**
         * a sub-pixel-rendering rounding error caused by embedded webcams causes
         * an unwanted linebreak, this hidden overflow prevents it
         */
        overflow: hidden;
      }
    }

    .dgmcolumns__col--33, .dgmcolumns__col--34 {
      flex: 0 0 33.3333%;
    }

    .dgmcolumns__col--50 {
      flex: 0 0 50%;
    }

    .dgmcolumns__col--67 {
      flex: 0 0 66.6666%;
    }

    @include bp.xs {
      .dgmcolumns__col {
        flex: 0 0 100%;
      }
    }

    @media (max-width: 1023px) {
      .dgmcolumns__col--count3 {
        flex: 0 0 100%;
      }
    }

    .tile__wrapper.webcam__panomax {
      height: 200px;

      @include bp.lg {
        height: 290px;
      }
    }

    &.dgmcolumns--force-height {
      @include bp.lg {
        .dgmcolumns__col--count2 {
          display: flex;
          align-items: stretch;

          > * {
            width: 100%;
          }
        }
        .tile--avalanche {
          align-self: flex-start;
        }
        .tile__img--avalanche {
          max-height: 290px;

          > svg {
            max-height: 290px;
          }
        }
      }
    }
  }

  .paragraph--dgmgallery {
    .field--imagefiles {
      display: grid;
      gap: var(--tile--gap);

      @include bp.xs {
        grid-template-columns: repeat(2, 1fr);
      }

      @include bp.lg {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      }

      img {
        width: 100%;
      }
    }
  }

  .paragraph--dgmmap {
    .geolocation-google-map {
      margin: 0 auto;
    }
  }

  .paragraph--dgmseparator {
    display: flex; // to prevent margin collapse
    width: 100%;
    margin-bottom: 3rem;

    &.dgmseparator--visible {
      border-top: 2px solid var(--color--foreground);
      opacity: (0.5);
    }
  }
}
