.dgmvideo__container {
  position: relative;
  width: 100%;

  &--16x9 {
    padding-top: 56.25%;
  }

  &--4x3 {
    padding-top: 75%;
  }

  > iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

