@use "mixins/bp";

/**
 *
 * Shared styles for all tiles
 *
 */

/**
 * container for all tile lists except infopoint frontpage
 */
.tile-container {
  margin-left: var(--tile-container--margin);
  margin-right: var(--tile-container--margin);
  display: grid;
  gap: var(--tile--gap);

  &:not(.tile-container--listitem) {
    @include bp.xs {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &.tile-container--dgmpage {
    @include bp.lg {
      --tile--min-width: 232px;
      --tile--gap: 10px;
    }
  }

  @include bp.lg {
    grid-template-columns: repeat(auto-fill, minmax(var(--tile--min-width), 1fr));
    padding-bottom: var(--main--padding, 0px);
  }

  &.tile-container--listitem {
    /**
     * tiles in here have approx the size of 2x1 tiles,
     * with the layout of a linkblock (img left, longer teaser text right)
     */
    --tile--min-width: 300px;

    @include bp.lg {
      --tile--min-width: 400px;
    }
  }

  // calculate aspect ratio, 4:3 + 50px tile bar
  > .tile--1x1 {
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 1px;
      height: 0;
      padding-top: 75%;
      padding-bottom: var(--tile--bar--min-height);
    }

    > .tile__wrapper {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

/**
 * similar .tile-container, but only mobile touchfront
 */
.dgmmobile {
  .tile--1x1 {
    grid-column: span 1;
  }

  .tile--2x1 {
    grid-column: span 2;
  }
}

.dgminfopoint {
  display: grid;
  width: 100%;
  height: 100%;
  grid-auto-flow: dense;
  margin-left: var(--tile-container--margin);
  margin-right: var(--tile-container--margin);
  gap: var(--tile--gap);

  @include bp.lg-pt {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(5, minmax(0, 1fr));
    grid-template-areas:
      "slot1 slot1 slot1 slot2"
      "slot1 slot1 slot1 slot3"
      "slot4 slot7 slot8 slot8"
      "slot5 slot5 slot6 slot6"
      "slot5 slot5 slot6 slot6";
  }

  @include bp.lg-ls {
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-areas:
      "slot1 slot1 slot1 slot2 slot3 slot4 slot4"
      "slot1 slot1 slot1 slot5 slot5 slot6 slot6"
      "slot7 slot8 slot8 slot5 slot5 slot6 slot6";
  }

  .tile {
    height: 100%;

    &--3x2 {
      grid-area: slot1;
    }

    &--2x2 {
      grid-area: slot5;

      & + .tile--2x2 {
        grid-area: slot6;
      }
    }

    &--2x1 {
      grid-column: span 2;
    }
  }

  &__slot4 {
    width: 100%;
    height: 100%;
    grid-area: slot4;
  }

  &__orientationwrapper {
    width: 100%;
    height: 100%;
  }
}

.tile {
  position: relative;
  overflow: hidden;

  &--listitem {
    display: flex;
    width: 100%;
    align-items: stretch;
  }

  &--highlightbg {
    background-color: var(--color--highlight);
    color: var(--color--highlight-inverse);

    a, a:hover, a:focus {
      color: var(--color--highlight-inverse);
    }
  }

  &__wrapper {
    display: block;
    width: 100%;
    height: 100%;
    padding-bottom: var(--tile--bar--min-height);

    * {
      /* explicitly set to overrule google maps style */
      box-sizing: border-box;
    }

    &--no-bar {
      padding-bottom: 0;
    }

    &--listitem {
      --tile-listitem-imgwidth: 100px;
      @include bp.lg {
        --tile-listitem-imgwidth: 120px;
      }

      width: 100%;
      display: grid;
      grid-template-columns: var(--tile-listitem-imgwidth) 1fr min-content;
      gap: var(--tile--gap);
      max-height: 300px;
      padding: var(--tile--gap);
      overflow: hidden;
      background-color: var(--tile--bar--background);


      .geolocation-map-wrapper & {
        --tile-listitem-imgwidth: 180px;
        grid-template-columns: 1fr min-content;
        padding: 0;

        .tile__left {
          grid-column: span 2;
          width: 100%;
        }
      }

    }
  }

  &__left {
    width: var(--tile-listitem-imgwidth);
  }

  &__center {
    color: var(--tile--bar--foreground);

    > * {
      margin-bottom: 0;

      & + * {
        margin-top: 0.5rem;
      }
    }
  }

  &__right {
    display: flex;
    flex-flow: column nowrap;

    > * + * {
      margin-top: 0.5rem;
    }
  }

  &__img {
    @extend %tile__img;

    &button {
      position: absolute;
      top: 0;
      right: 0;
      background-color: var(--color--highlight);
      color: var(--color--highlight-inverse);
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: stretch;
      text-align: center;
      font-size: var(--tile--subtitle--font);
      padding: 5px 10px;
      line-height: 1.15;
    }

    &.tile__img--listitem {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .field--imagefile, .field--imagefiles {
    @extend %tile__img;
  }

  &__bar {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--tile--bar--background);
    color: var(--tile--bar--foreground);
    min-height: var(--tile--bar--min-height);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 0 5px;
    line-height: 1.15;
  }

  &__title {
    font: var(--tile--title--font);
  }

  &__subtitle {
    font: var(--tile--subtitle--font);

    &--tour {
      > * {
        display: inline;

        + * {
          &::before {
            content: ' - '
          }
        }
      }
    }
  }

  &__tags {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    max-width: calc(100% - 1rem);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3px;
  }

  &__tag {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: var(--color--highlight);
    color: var(--color--highlight-inverse);
    font: var(--tile--subtitle--font);
    line-height: 1;
    padding: 2px 5px;
    border-radius: 3px;

    &-icon {
      margin-right: 0.5em;
    }

    &-text {
      display: inline-block;
    }

    &--open_hours {
      display: block;
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;
    }

    &--is-open {
      background-color: green;
    }

    &--is-closed {
      background-color: red;
    }
  }
}

/**
 * styles reused accross multiple bundles
 */
%tile__img {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: relative;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: unset;
  }

  > iframe {
    width: 100%;
    height: 100%;
    border: 0 none;
    aspect-ratio: unset;
  }
}

.tile--1x1 {
  .field--imagefile {
    @extend %tile__img;
  }
}

/**
 * styles used only in specific bundles
 */
.tile--dgmtext {
  .field--text {
    padding: var(--main--padding);
  }
}

.tile--dgmimage.tile--2x1 {
  .field--imagefile {
    img {
      width: 100%;
      height: auto;
      object-fit: unset;
    }
  }
}

.tile--slogan {
  position: relative;

  .cktext {
    padding: var(--main--padding);
    position: relative;
  }

  .slogan__icon {
    position: absolute;
    top: 15%;
    left: 5%;
    height: 50%;
    width: auto;
    display: block;
    color: var(--color--highlight);
    opacity: 0.3;
  }
}

