/**
 * Events
 */

.eventdate__flag {
  display: inline-block;
  background-color: var(--color--highlight);
  color: var(--color--highlight-inverse);
  font-weight: var(--font-weight--base);
  line-height: 1rem;
  font-size: calc(1rem - 3px);
  margin: 0 0.3rem;
  padding: 1.5px 0.6rem;
  position: relative;
  top: -1.5px;
}

.node__facts {
  .field--dates {
    max-height: 5*1.5rem;
    overflow-y: scroll;
    scrollbar-width: 10px;
    scrollbar-color: var(--color--highlight) transparent;
  }
}

.node__facts .field--dates::-webkit-scrollbar {
  width: 10px;
  -webkit-appearance: none;
}

.node__facts .field--dates::-webkit-scrollbar-track {
  background-color: var(--color--background-accent);
  border-radius: 5px;
}

.node__facts .field--dates::-webkit-scrollbar-thumb {
  background-color: var(--color--highlight);
  border-radius: 5px;
}
