@use "mixins/bp";

/**
 *
 * Resets and global/generic styles with low priority
 *
 */

h1, .h1 {
  color: var(--color--highlight);
  text-transform: uppercase;
  letter-spacing: normal;

  @include bp.xs {
    font-size: 1.75rem;
  }

  @include bp.lg {
    font-size: 2rem;
  }
}

h2, .h2 {
  color: var(--color--highlight);
  text-transform: none;
  letter-spacing: normal;

  @include bp.xs {
    font-size: 1.75rem;
  }

  @include bp.lg {
    font-size: 2rem;
  }
}

h3, .h3 {
  color: var(--color--foreground);
  text-transform: none;
  letter-spacing: normal;

  @include bp.xs {
    font-size: 1.5rem;
  }

  @include bp.lg {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  color: var(--color--foreground);
  text-transform: none;
  letter-spacing: normal;

  @include bp.xs {
    font-size: 1.25rem;
  }

  @include bp.lg {
    font-size: 1.3333rem;
  }
}

h5, .h5 {
  color: var(--color--foreground);
  text-transform: uppercase;
  font-size: calc(var(--font-size) - 2px);
  letter-spacing: 2px;
}

h6, .h6 {
  color: var(--color--primary);
  text-transform: none;
  font-size: var(--font-size);
  letter-spacing: normal;
}

.cktext {
  ul {
    margin-left: 0;
    padding-left: 1.25em;
  }
}
