@use "mixins/bp";

h1.node__title {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 1rem;
}

.node__content--intro {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 1rem;
}

/**
 * touristic pages
 */
.node__factbox {
  display: flex;
  flex-flow: row wrap;

  &--highlighttext {
    color: var(--color--highlight);
    font-weight: var(--font-weight--bold);
  }

  &--accentedbg {
    background-color: var(--color--background-accent);
    color: var(--color--text);
    padding: 1rem;

    a:not(.btn--primary) {
      color: inherit;

      &:hover, &:focus {
        color: var(--color--highlight);
      }
    }
  }
}

.node__facticon {
  flex: 0 0 50px;
  font-size: 2rem;
  line-height: 1;
  padding-top: 0.75rem;
  align-self: flex-start;
  min-height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &:first-child {
    padding-top: 0;
  }
}

.node__facts {
  flex: 1 1 calc(100% - 50px);
  padding-top: 0.75rem;
  align-self: center;
  min-height: 3rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;

  &:nth-child(2) {
    padding-top: 0;
  }

  .field--postcode {
    display: inline-block;
    margin-right: 0.2em;

    + * {
      display: block;
    }

    + .field--city {
      display: inline-block;
    }
  }

  > * + .field--actionlink {
    margin-top: 1rem;
  }

  .field--phone, .field--email, .field--homepage {
    display: table;
    table-layout: fixed;
    width: 100%;

    > a {
      display: table-cell;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}


.node__content--upper {
  display: grid;
  gap: 2rem;
  margin-bottom: 3rem;

  @media (max-width: 1023px) {
    grid-template-columns: 100%;
  }

  @media (min-width: 1024px) {
    grid-template-columns: minmax(400px, 1fr) minmax(400px, 1fr);
  }

  .node__image {
    @media (max-width: 1023px) {
      margin-bottom: 1rem;
    }

    @media (min-width: 1024px) {
      margin-bottom: 3rem;
    }
  }

  .node__text {
    margin-bottom: 3rem;

    > * + * {
      margin-top: 2rem;
    }
  }

}

.node__content--middle {
  .node__description {
    max-width: 1000px;
    margin: 0 auto 3rem;
  }

  .node__text + .node__openhours, .node__text + .openhours-title {
    margin-top: 1.5rem;
  }

  .openhours-title {
    margin-bottom: 1rem;
  }

  .node__taxonomies {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    max-width: 1600px;
    margin: 0 auto 3rem;

    > * {
      @media (max-width: 540px) {
        flex: 0 0 100%;
      }

      &:first-child:last-child {
        flex: 0 0 auto;

        @media (max-width: 1023px) {
          width: 100%;
        }
        @media (min-width: 1024px) {
          width: 500px;
        }
      }

      @media (min-width: 541px) and (max-width: 1023px){
        &:nth-last-child(n+2):nth-last-child(-n+2):first-child, &:nth-last-child(n+2):nth-last-child(-n+2):first-child ~ *,
        &:nth-last-child(n+4):nth-last-child(-n+4):first-child, &:nth-last-child(n+4):nth-last-child(-n+4):first-child ~ * {
          flex: 1 1 auto;
          width: 50%;
        }
        &:nth-last-child(n+3):nth-last-child(-n+3):first-child, &:nth-last-child(n+3):nth-last-child(-n+3):first-child ~ * {
          flex: 1 1 auto;
          width: 33.3333%;
        }
      }

      @media (min-width: 1024px) {
        &:nth-last-child(n+2):nth-last-child(-n+2):first-child, &:nth-last-child(n+2):nth-last-child(-n+2):first-child ~ *,
        &:nth-last-child(n+3):nth-last-child(-n+3):first-child, &:nth-last-child(n+3):nth-last-child(-n+3):first-child ~ * {
          flex: 1 1 auto;
          width: 33.3333%;
        }
        &:nth-last-child(n+4):nth-last-child(-n+4):first-child, &:nth-last-child(n+4):nth-last-child(-n+4):first-child ~ * {
          flex: 1 1 auto;
          width: 25%;
        }
      }
    }

    .node__facts {
      margin-bottom: auto;

      h4 {
        padding-top: 0.667rem;
      }
    }

    ul {
      margin-left: -1em;

      &.gastronomy__capacity {
        margin-bottom: 0;
      }
    }
  }
}

.node__video {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto 3rem;
}

.node__geobtn {
  padding: 0.5rem 0;
  text-align: center;
}

.open_hours__table {
  width: 100%;

  thead {
    display: none;
  }
  tbody > tr:nth-child(odd) {
    background-color: var(--color--background-accent);
  }

  td {
    padding: 2px 5px;

    @include bp.lg {
      padding: 5px 15px;
    }
  }
}

.open_hours__day {
  vertical-align: top;
  @include bp.lg {
    width: 20rem;
    padding: 5px 10px;
  }
}

.open_hours__time {
  p {
    margin-bottom: 0;
  }
}

.field--type-open_hours ~ .field--openhours.field--type-text_long {
  margin-top: 1rem;
}

/**
 * Node meta data
 */
.node__datasource {
  font-size: 14px;
  text-align: center;
  opacity: 0.7;

  &:hover, &:focus, &:focus-within {
    opacity: 1;
  }

  &dl {
    margin: 2rem auto 0 auto;
    padding: 0;
    display: grid;

    @media (max-width: 767px) {
      grid-template-columns: min-content 1fr;
      width: 100%;
    }

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      width: 730px;
    }
  }

  &dt {
    white-space: nowrap;
    padding: 0 0.25em 0.25em 0;
    text-align: right;

    @media (min-width: 768px) {
      padding-right: 0.75em;
    }
  }

  &dd {
    margin: 0;
    padding: 0 0 0.25em 0.25em;
    text-align: left;
    @media (min-width: 768px) {
      padding-left: 0.75em;
    }
  }
}
