@use "mixins/bp";
@use "mixins/button";

/**
 *
 * Styles for html.twig and page.twig, used on every page
 *
 */

html {
  width: 100%;
  height: 100%;
}

body, .dialog-off-canvas-main-canvas, .wt__frontend {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.wt__frontend {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;

  @include bp.xs {
    padding-top: var(--pagehead--height);
  }

  @include bp.lg {
    &--front {
      min-height: auto;
      max-height: 100%;
    }
  }
}

/**
 * HEADER
 *
 * this is the same as .wt__header
 * but we use .pagehead for prettier "&__subelement" selector name
 *
 */
.pagehead {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--color--background-accent);
  padding: 0 var(--main--padding);
  height: var(--pagehead--height);

  /**
   * Mobile and Infopoint
   */
  > * {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  @include bp.xs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 400;
    height: var(--pagehead--height);
  }

  &__link {
    color: var(--color--foreground);

    @include bp.xs {
      font-size: 1.3333rem;
    }

    @include bp.lg {
      font-size: 2rem;
    }

    @include bp.xl {
      font-size: 2.5rem;
    }

    &:hover, &:focus {
      color: var(--color--highlight);
    }

    &--logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      position: relative;
    }
  }


  &__logo {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-height: 90%;
    max-width: 100%;

    @include bp.lg {
      margin-left: 0;
    }
  }

  &__left {
    justify-content: flex-start;
    text-align: left;
  }

  &__center {
    justify-content: center;
    text-align: center;

    @include bp.xs {
      margin: 0 1rem;
    }

    @include bp.lg {
      margin: 0 2rem;
    }
  }

  &__right {
    justify-content: flex-end;
    text-align: right;
  }

  /**
   * Infopoint
   */
  &__left--infopoint, &__right--infopoint {
    flex: 1 1 0;
  }

  &__center--infopoint {
    flex: 1 1 auto;

    h1 {
      /* allows up to 3 lines of node titles inside header */
      line-height: 1;
    }
  }

  .currenttime {
    font-weight: var(--font-weight--bold);
    white-space: nowrap;
    /* @see font-size .language-swicher__btn */
    font-size: 1.5rem;

    @include bp.lg {
      font-size: 2rem;
    }
  }

  /**
   * Mobile
   */
  &__left--mobile, &__right--mobile {
    flex: 0 0 auto;
    width: 40px;
  }


  &__center--mobile {
    flex: 1 1 auto;
  }


}


.language-switcher {
  @at-root {
    .block--language_block {
      height: 100%;
    }
  }
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;

  // @see styling of .pagefoot__menubtn
  &__btn {
    @include button.nobtn;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-weight: var(--font-weight--base);
    color: var(--color--foreground);
    text-transform: uppercase;

    /* @see font-size .currenttime */
    @include bp.xs {
      font-size: 1rem;
    }

    @include bp.lg {
      font-size: 2rem;
    }

    &:hover, &:focus {
      @include button.nobtn;
      color: var(--color--highlight);
    }
  }

  &__icon {
    /* intentionally em here due size differences on parent link in mobile/infopoint */
    margin-left: 0.5em;
    font-size: 0.7em;
  }

  &__ul {
    position: absolute;
    z-index: 400;
    @include bp.xs {
      left: calc(var(--main--padding) * -1);
    }
    @include bp.lg {
      right: calc(var(--main--padding) * -1);
    }
    top: 100%;
    display: none;
    width: calc(100% + 2 * var(--main--padding));
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--color--background-accent);
  }

  &__li {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    text-align: center;

    &:first-child {
      border-top: 1px solid rgba(0,0,0,0.2);
    }
  }

  .language-link {
    color: var(--color--foreground);
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 2;

    &:hover, &:focus {
      color: var(--color--highlight);
    }
  }
}

.wt__main {
  width: 100%;
  padding: var(--tile--gap) var(--main--padding);

  @include bp.xs {
    flex: 1 0 auto;
  }

  @include bp.lg {
    flex: 1 1 auto;
    overflow-y: auto;
  }
}

.region--content, .block--system_main_block, .touchfront--infopoint,
.block--system_main_block > .views-element-container, .block--system_main_block > .views-element-container > div {
  height: 100%;
}

/**
 * FOOTER
 *
 * this is the same as .wt__footer
 * but we use .pagefoot for prettier "&__subelement" selector name
 *
 */

@mixin colorschema-footer {
  color: var(--color--pagefoot--foreground, var(--color--foreground));
  background: var(--color--pagefoot--background, var(--color--background));
}

.pagefoot {
  flex: 0 0 auto;
  margin-top: auto;
  position: relative;
  background-color: var(--color--background-accent);
  height: var(--pagefoot--height);
  z-index: 999;

  @include bp.lg {
    --color--pagefoot--background: #666666;
    --color--pagefoot--foreground: #ffffff;

    @include colorschema-footer;
  }

  &__pullup {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: inherit;
  }

  &__above {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    height: var(--pagefoot--height);
  }

  button {
    @include colorschema-footer;

    &:hover, &:focus {
      color: inherit;
      background-color: inherit;
    }
  }

  /* @see .language-switcher__btn */
  &__menubtn {
    @include button.nobtn;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-weight: var(--font-weight--base);
    text-transform: uppercase;
    font-size: 1.5rem;

    @include bp.xl {
      font-size: 2rem;
    }
  }

  &__menuicon {
    margin-left: 0.5em;
    font-size: 0.7em;
    transform: scaleY(1);
    transition: transform linear 400ms;

    [aria-expanded=true] & {
      transform: scaleY(-1);
    }
  }


  &__below {
    display: none;
  }
}

.powered {

  .pagefoot--infopoint & {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: absolute;
    left: var(--main--padding);
    top: 50%;
    transform: translateY(-50%);
    height: var(--pagefoot--height);
    justify-content: flex-start;
  }

  .pagefoot--mobile & {
    display: none;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    --color--pagefoot--background: #666666;
    --color--pagefoot--foreground: #ffffff;
    @include colorschema-footer;
    text-align: center;

    .wt__frontend--front & {
      display: flex;
    }
  }

  &__text {
    font-size: 12px;
    white-space: nowrap;
    padding: 0 0.5em 0 0;
  }

  &__img {
    display: block;
    width: auto;
    height: auto;
    max-height: 30px;
  }
}

/**
 * DGM footer menu, legal links
 */
.nav {
  @at-root {
    .block--system_menu_block--dgmfooter {
      @include bp.xs {
        width: 100%;
        height: 100%;
        padding: 0 var(--main--padding);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @include bp.lg {
        position: absolute;
        right: var(--main--padding);
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__ul--dgmfooter {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  &__li--dgmfooter {
    margin: 0;
    padding: 0;

    & + & {
      margin-left: 1rem;
    }
  }

  &__a--dgmfooter {
    font-size: 12px;
    line-height: 1;

    @include bp.lg {
      @include colorschema-footer;

      &:hover, &:focus {
        color: inherit;
        background-color: inherit;
      }
    }
  }
}

.infopointmenu {
  position: relative;
  padding: 0 95px var(--tile--gap);

  &__wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .tile-container--menu {
    overflow-x: scroll;
    overflow-y: hidden;
    grid-template-columns: repeat(9999, minmax(var(--tile--min-width), 1fr));

    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__btn {
    @include button.nobtn;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: var(--color--highlight);
    background-color: transparent;

    &:hover, &:focus {
      color: var(--color--highlight-accent);
      background-color: inherit;
    }

    &--prev {
      left: 30px;
    }

    &--next {
      right: 30px;
    }
  }
}

@include bp.lg {
  // this forces a small-screen-like layout for DGM mobile frontpage
  // when using the deep view link from DGM admin UI
  .tile-container.node--dgmmobile--full {
    max-width: 679px;
    margin-right: auto;
    margin-left: auto;
  }
}
