@use "mixins/bp";

/**
 * ONLY GLOBAL VARIABLES
 */

:root {
  --color--background: #eeeeee;
  --color--background-accent: #ffffff;

  --tile--bar--background: var(--color--background-accent);
  --tile--bar--foreground: var(--color--foreground);
  --tile--title--font: var(--font-style--base) var(--font-weight--bold) var(--tile--title--fontsize)/1.15 var(--font-family--base);
  --tile--subtitle--font: var(--font-style--base) var(--font-weight--base) var(--tile--subtitle--fontsize)/1.15 var(--font-family--base);

  @media (max-height: 699px) {
    --tile--bar--min-height: 50px;
    --pagehead--height: 5rem;
  }
  @media (min-height: 700px) {
    --tile--bar--min-height: 60px;
    --pagehead--height: 6rem;
  }

  @include bp.xs {
    /* recommended to be in line with --tile--gap */
    --main--padding: 8px;
    --pagefoot--height: 2rem;

    /* on very small screens we want lists of tiles to the edge of screen */
    --tile-container--margin: calc(var(--main--padding) * -1);
    --tile--min-width: 150px;
    --tile--gap: 8px;
    --tile--title--fontsize: calc(1rem - 3px);
    --tile--subtitle--fontsize: calc(1rem - 6px);
  }

  @include bp.lg {
    --main--padding: 10px;
    --pagefoot--height: 3rem;

    --tile-container--margin: 0;
    --tile--min-width: 220px;
    --tile--gap: 10px;

    --tile--title--fontsize: calc(1rem - 2px);
    --tile--subtitle--fontsize: calc(1rem - 4px);
  }

  @include bp.xl {
    --main--padding: 20px;
    --pagefoot--height: 4rem;

    --tile--gap: 20px;
    --tile--min-width: 240px;
    --tile--title--fontsize: 1rem;
    --tile--subtitle--fontsize: calc(1rem - 3px);
  }
}
