/**
 * Tour
 */

.tour__difficulty--touch, .tour__duration--touch {
  > div {
    display: inline;
  }
}

.leaflet {
  &__statswrapper {
    margin: 0 auto;
    width: 20rem;
    max-width: calc(100% - 20px);
    text-align: center;
    margin-bottom: 3rem;
  }

  &__statscontainer {
    .leaflet__statstable {
      display: table;
      width: 100%;

      > span {
        display: table-row;

        &:nth-child(even) {
          background-color: var(--color--background-accent);
        }

        &::after {
          content: none !important;
        }

        &.download {
          display: none;
        }

        > span {
          display: table-cell;
          text-align: left;
          padding: 0.3333rem 0.75rem;

          &:nth-child(2) {
            text-align: right;
          }
        }
      }
    }
  }
}
