@use "mixins/bp";

/**
 *
 * Global utilities and helpers
 * include at the end so they override generic styles
 *
 */

.hidden {
  display: none;
}

.hidden\@xs {
  @include bp.xs {
    display: none;
  }
}

.hidden\@lg {
  @include bp.lg {
    display: none;
  }
}

.hidden\@lg-pt {
  @include bp.lg-pt {
    display: none;
  }
}

.hidden\@lg-ls {
  @include bp.lg-ls {
    display: none;
  }
}

/**
 * similar to hidden, but these class is for explicit JS usage
 */
.js-collapsed {
  display: none;
}
.js-expanded {
  display: block;
}
