@use "mixins/bp";

/**
 *
 * Shared styles for all views
 *
 */

@include bp.lg {
  .body--views {
    overflow: hidden;
  }
}

.views-element-container, .views-element-container * {
  --button--width: 48px;
  --input--height: 3rem;
  --icon--width: 24px;
  --arrow--width: 20px;
  --input--min-width: 200px;

  .geolocation-map-container {
    .gm-style {
      .gm-style-iw-c {
        border-radius: 0;
      }
      .gm-style-iw-d {
        overflow: auto !important;
        padding-bottom: 12px !important;
        padding-right: 12px !important;
      }

      button.gm-ui-hover-effect {
        top: 0 !important;
        right: 0 !important;
        background: white !important;
        opacity: 0.8 !important;
        border-bottom-left-radius: 8px !important;
        box-shadow: 0 2px 7px 1px rgb(0 0 0 / 30%) !important;

        &:hover {
          opacity: 1 !important;
        }
      }
    }
  }

  @include bp.xs {
    /* on mobile the form does not decrease the size of google map views */
    --views-exposed-form--height: 0px;
  }

  @include bp.lg {
    /* on large screen the exposed form decreases the map height by 1 line of input fields */
    --views-exposed-form--height: calc(var(--input--height) + var(--tile--gap));
  }

  header h1 {
    text-align: center;
  }

  > [class*=js-view-dom-id] > .views-exposed-form:not([data-drupal-selector^=views-exposed-form-event-dgm]) {
    /* will be moved into attachment container with clientside-js */
    display: none;
  }
}

.pager {
  &__ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }

  &__li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color--foreground);
    min-height: 40px;
    min-width: 40px;

    &--current {
      padding: 0 1.5rem;
    }

    & + & {
      border-left: 0;
    }
  }

  &--a {
    width: 100%;
    display: flex;
    align-self: stretch;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
  }
}

.views-id--dgm, .views-id--event {
  .views-attachment-before, .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto var(--tile--gap);
    justify-content: center;
    gap: var(--tile--gap);

    @include bp.xs {
      &.has-views-switcher {
        > * {
          &:nth-last-child(2) {
            /**
             * last filter on mobile shares line with views toggle
             */
            flex: 1 0 auto;
          }
        }
      }
    }
  }

  .views__toggle {
    text-align: center;
    flex: 0 0 auto;
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    margin-left: var(--tile--gap);

    &btn {
      line-height: 1;
      font-size: 12px;
      width: var(--button--width);
      display: inline-flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-evenly;
      text-align: center;
      padding: 0;

      &--clickable {
        color: white;
        background-color: #666;
      }
    }

    &icon {
      font-size: 24px;
      display: block;
      margin: 0 auto;
    }
  }

  .views-exposed-form {
    div[data-drupal-selector=edit-actions] {
      display: none;
    }
    input[type=text]::-ms-input-placeholder {
      color: var(--color--foreground);
    }

    input[type=text]::-moz-placeholder {
      color: var(--color--foreground);
    }

    input[type=text]::-webkit-input-placeholder {
      color: var(--color--foreground);
    }

    input[type=text]::placeholder {
      color: var(--color--foreground);
    }
  }

  .facets-widget-dropdown, .facets-widget-location_range {
    > ul {
      /**
       * hide the default, SSR links to prevent FOUT before links are
       * converted to a <select> dropdown on client side by JS
       */
      display: none;
    }
  }

  .facets-widget-dropdown, .facets-widget-location_range, .views-exposed-form[data-drupal-selector^=views-exposed-form-dgm], .views-exposed-form[data-drupal-selector^=views-exposed-form-event-dgm] .js-form-item {
    height: var(--input--height);
    position: relative;
    width: var(--input--min-width);

    @include bp.xs {
      flex: 1 0 100%;
    }

    @include bp.lg {
      max-width: 400px;
      flex: 1 1 auto;
    }

    label {
      display: block;
      font-size: 0;
      line-height: 0;
      outline: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: var(--icon--width);
      height: var(--input--height);

      &::before {
        content: '';
        background-size: var(--icon--width) var(--icon--width);
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        width: 100%;
        height: 100%;
      }

      &[id$="_category_label"]::before {
        background-image: url("data:image/svg+xml, %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath id='svglib__category' fill='currentColor' d='M4 5h6v6h-6v-6zM6 7v2h2v-2h-2zM12 7h15v2h-15v-2zM4 13h6v6h-6v-6zM6 15v2h2v-2h-2zM12 15h15v2h-15v-2zM4 21h6v6h-6v-6zM6 23v2h2v-2h-2zM12 23h15v2h-15v-2z'%3E%3C/path%3E%3C/svg%3E");
      }

      &[id$="_geo_label"]::before, &[for$="-geo-proximity"]::before {
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath id='svglib__distance' fill='currentColor' d='M432 352H320c-26.5 0-48-21.5-48-48s21.5-48 48-48h96s96-107 96-160-43-96-96-96-96 43-96 96c0 34.6 40.9 92.2 69.3 128H320c-44.1 0-80 35.9-80 80s35.9 80 80 80h112c26.5 0 48 21.5 48 48s-21.5 48-48 48H122.7c28.4-35.8 69.3-93.4 69.3-128 0-53-43-96-96-96S0 299 0 352s96 160 96 160h336c44.1 0 80-35.9 80-80s-35.9-80-80-80zM352 96c0-35.3 28.7-64 64-64s64 28.7 64 64c0 20.4-30.1 68-64 110.4-34-42.6-64-90.6-64-110.4zM32 352c0-35.3 28.7-64 64-64s64 28.7 64 64c0 20.4-30.1 68-64 110.4-34-42.6-64-90.6-64-110.4zm64-16c-21.2 0-21.1 32 0 32 21.2 0 21.1-32 0-32zM416 80c-21.2 0-21.1 32 0 32 21.2 0 21.1-32 0-32z'%3E%3C/path%3E%3C/svg%3E");
      }

      &[id$="_season_label"]::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512'%3E%3Cpath fill='currentColor' d='M543.7 304.3C539.8 259.4 502 224 456 224c-17.8 0-34.8 5.3-49.2 15.2-22.5-29.5-57.3-47.2-94.8-47.2-66.2 0-120 53.8-120 120v.4c-38.3 16-64 53.5-64 95.6 0 57.3 46.7 104 104 104h304c57.3 0 104-46.7 104-104 0-54.8-42.6-99.8-96.3-103.7zM536 480H232c-39.7 0-72-32.3-72-72 0-32.3 21.9-60.7 53.3-69.2l13.3-3.6-2-17.2c-.3-2-.6-4-.6-6 0-48.5 39.5-88 88-88 32.2 0 61.8 17.9 77.2 46.8l10.6 19.8 15.2-16.5c10.8-11.7 25.4-18.1 41-18.1 30.9 0 56 25.1 56 56 0 1.6-.3 3.1-.8 6.9l-2.5 20 23.5-2.4c1.2-.2 2.5-.4 3.8-.4 39.7 0 72 32.3 72 72S575.7 480 536 480zM92.6 323l12.5-63.2c1.2-6.3-1.4-12.8-6.8-16.4l-53.5-35.8 53.5-35.8c5.4-3.6 8-10.1 6.8-16.4L92.6 92.1l63.2 12.5c6.4 1.3 12.8-1.5 16.4-6.8L208 44.3l35.8 53.5c3.6 5.3 9.9 8.1 16.4 6.8l63.2-12.5-12.5 63.2c-.3 1.6-.1 3.2 0 4.8.4 0 .7-.1 1.1-.1 10.1 0 20 1.1 29.6 3 .2-.5.5-.9.6-1.5l17.2-86.7c1-5.2-.6-10.6-4.4-14.4s-9.2-5.5-14.4-4.4l-76.2 15.1-43.1-64.4c-6-8.9-20.6-8.9-26.6 0l-43.2 64.5-76.1-15.1c-5.3-1.1-10.7.6-14.4 4.4-3.8 3.8-5.4 9.2-4.4 14.4l15.1 76.2-64.6 43.1c-4.4 3-7.1 8-7.1 13.3s2.7 10.3 7.1 13.3L71.6 264l-15.1 76.2c-1 5.2.6 10.6 4.4 14.4 3 3 7.1 4.7 11.3 4.7 1 0 2.1-.1 3.1-.3l32.8-6.5c6.2-13.8 14.6-26.5 25.1-37.6L92.6 323zM208 149.7c18.5 0 34.8 8.9 45.4 22.4 10.2-4.3 20.8-7.6 31.9-9.6-15.6-26.6-44.2-44.8-77.3-44.8-49.5 0-89.8 40.3-89.8 89.8 0 33 18.1 61.7 44.8 77.3 2-11.1 5.3-21.7 9.6-31.9-13.6-10.6-22.4-26.9-22.4-45.4 0-31.8 25.9-57.8 57.8-57.8z'%3E%3C/path%3E%3C/svg%3E");
      }


      &[for=edit-search-api-fulltext]::before {
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath id='svglib__search' fill='currentColor' d='M19 3c5.511 0 10 4.489 10 10s-4.489 10-10 10c-2.395 0-4.588-0.839-6.313-2.25l-7.969 7.969-1.438-1.438 7.969-7.969c-1.411-1.724-2.25-3.917-2.25-6.313 0-5.511 4.489-10 10-10zM19 5c-4.43 0-8 3.57-8 8s3.57 8 8 8 8-3.57 8-8-3.57-8-8-8z'%3E%3C/path%3E%3C/svg%3E");
      }

      &[for^=edit-field-dates-value]::before {
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath id='svglib__calendar' fill='currentColor' d='M9 4h2v1h10v-1h2v1h4v22h-22v-22h4v-1zM7 7v2h18v-2h-2v1h-2v-1h-10v1h-2v-1h-2zM7 11v14h18v-14h-18zM13 13h2v2h-2v-2zM17 13h2v2h-2v-2zM21 13h2v2h-2v-2zM9 17h2v2h-2v-2zM13 17h2v2h-2v-2zM17 17h2v2h-2v-2zM21 17h2v2h-2v-2zM9 21h2v2h-2v-2zM13 21h2v2h-2v-2zM17 21h2v2h-2v-2z'%3E%3C/path%3E%3C/svg%3E");
      }
    }

    select, input[type=text] {
      background: transparent;
      border: 0;
      border-bottom: 1px solid var(--color--foreground);
      height: var(--input--height);
      padding: 0.5rem var(--arrow--width) 0.5rem 2.5rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 100%;
    }

    &[class*=facets]::after, &[class*=js-form-item-field-geo-proximity]::after, &[class*=js-form-item-field-dates-value]::after {
      content: '';
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      width: var(--arrow--width);
      height: var(--input--height);
      background-image: url("data:image/svg+xml, %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath id='svglib__arrow-down' fill='currentColor' d='M15 4h2v20.063l6.781-6.781 1.438 1.438-8.5 8.5-0.719 0.688-0.719-0.688-8.5-8.5 1.438-1.438 6.781 6.781v-20.063z'%3E%3C/path%3E%3C/svg%3E%0A");
      position: absolute;
      top: 50%;
      right: var(--arrow--width);
      pointer-events: none;
      transform: translateY(-50%);
      background-size: var(--arrow--width);
    }
  }
}
