{#
  This template will work for most "data" paragraphs having their own content,
  like link, image, text, etc.
  It will not work for "referencing" paragraphs like poi, snow, weather

  tile_classes should be similar to node tile templates
  @see '@dgm_touch/node/_node--tile.html.twig'
#}

{% block entity %}
  {% set tile_classes = tile_classes ?? [
    'paragraph',
    'paragraph--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--' ~ view_mode|clean_class,
    'tile',
    'tile--' ~ paragraph.bundle(),
    'tile--' ~ view_mode|replace({'tile': ''}),
  ] %}
  <div{{ attributes.addClass(tile_classes) }}>
    {% block tile %}
      <div class="tile__wrapper {% if nobar %}tile__wrapper--no-bar{% endif %}">
        {% block tile_content %}
          {{ content }}
        {% endblock %}
      </div>
    {% endblock %}
  </div>
{% endblock %}
