{% extends '@dgm_touch/paragraph/_paragraph--tile.html.twig' %}

{% set nobar = true %}

{% block tile_content %}
  {% set dummy_force_cache_bubbling = content|render %}
  {% if embed_link %}
    <div class="dgmvideo__container dgmvideo__container--16x9">
      <iframe width="100%" height="100%" src="{{- embed_link -}}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  {% else %}
    <p>{{ 'This link does not look like a Youtube video'|t }}</p>
  {% endif %}
{% endblock %}
