{#
  dgmlink only exists on touch, so we don't need tile-specific override templates
#}

{% extends '@dgm_touch/paragraph/_paragraph--tile.html.twig' %}

{% block tile %}
  <a class="tile__wrapper" href="{{- content.field_link.0 -}}" target="_blank">

    {% block tile_img %}
      <div class="tile__img">
        {{ content.field_imagefiles.0 }}
        {{ content.field_imagefile }}
      </div>
    {% endblock %}


    {% block tile_bar %}
      <div class="tile__bar">
        <div class="tile__title">
          {{ paragraph.field_link.0.title }}
        </div>
      </div>
    {% endblock %}

  </a>

{% endblock %}
