{#
  dgmpois only exists on touch, so we don't need tile-specific override templates
#}

{% extends '@dgm_touch/paragraph/_paragraph--tile.html.twig' %}

{% block tile %}
  <a class="tile__wrapper" href="{{- path('view.dgm.infrastructure_list') -}}/{{- paragraph.field_termfilter.0.target_id -}}">

    {% block tile_img %}
      <div class="tile__img">
        {{ drupal_image(category_image_uri, view_mode) }}
      </div>
    {% endblock %}


    {% block tile_bar %}
      <div class="tile__bar">
        <div class="tile__title">
          {{ paragraph.field_termfilter.0.target_id ? content.field_termfilter : 'Infrastructure'|t }}
        </div>
      </div>
    {% endblock %}

  </a>

{% endblock %}
