{#
  dgmgastronomies only exists on touch, so we don't need tile-specific override templates
#}

{% extends '@dgm_touch/paragraph/_paragraph--tile.html.twig' %}

{% block tile %}

  <a class="tile__wrapper" href="{{- path('view.dgm.gastronomy_list') -}}">

    {% block tile_img %}
      <div class="tile__img">
        {{ drupal_image(category_image_uri, view_mode) }}
      </div>
    {% endblock %}


    {% block tile_bar %}
      <div class="tile__bar">
        <div class="tile__title">
          {{ 'Eat & Drink'|t }}
        </div>
      </div>
    {% endblock %}

  </a>

{% endblock %}
