{% extends '@dgm_base/paragraph/paragraph.html.twig' %}

{% block content %}
  <dl class="dgmaccordion__container">
    {% for accordion in paragraph.field_textsummaries %}
      <dt class="dgmaccordion__header" role="button" aria-expanded="false" data-toggle="collapse" data-target="#dgmaccordion__body--{{ paragraph.id.value }}--{{ loop.index }}">
        <i class="fal fa-chevron-right dgmaccordion__headicon" ></i>
        <span class="dgmaccordion__headtext">{{ accordion.summary }}</span>
      </dt>
      <dd id="dgmaccordion__body--{{ paragraph.id.value }}--{{ loop.index }}" class="accordion__body cktext cktext--accordion js-collapsed">
        {{ content.field_textsummaries[loop.index0] }}
      </dd>
    {% endfor %}
  </dl>
{% endblock %}
