{% extends '@dgm_base/paragraph/paragraph.html.twig' %}

{% set dummy_cache = content|render %}
{% set attributes = attributes.addClass('dgmseparator--' ~ paragraph.field_separator.0.value) %}
{% block content %}{% endblock %}
