{% extends '@dgm_base/paragraph/paragraph.html.twig' %}
{% set attributes = attributes.addClass('paragraph--collayout-' ~ paragraph.field_collayout.0.value) %}

{% block content %}
  {% set columns = paragraph.field_collayout.0.value|split('-') %}
  <div class="dgmcolumns__col dgmcolumns__col--count{{ columns|length }}  dgmcolumns__col--1 dgmcolumns__col--{{ columns.0 }} dgmcolumns__col--viewmode-{{ content.field_col1.0['#view_mode'] }}">
    {{ content.field_col1 }}
  </div>
  <div class="dgmcolumns__col dgmcolumns__col--count{{ columns|length }} dgmcolumns__col--2 dgmcolumns__col--{{ columns.1 }} dgmcolumns__col--viewmode-{{ content.field_col2.0['#view_mode'] }}"">
    {{ content.field_col2 }}
  </div>
  {% if paragraph.field_collayout.0.value == '33-34-33' %}
    <div class="dgmcolumns__col dgmcolumns__col--count{{ columns|length }} dgmcolumns__col--2 dgmcolumns__col--{{ columns.2 }} dgmcolumns__col--viewmode-{{ content.field_col3.0['#view_mode'] }}"">
      {{ content.field_col3 }}
    </div>
  {% endif %}
{% endblock %}
