{{ attach_library('bookable_calendar/default') }}
{% set dummy_force_cache = content|render %}


<div class="bookable__inst">
  {% set inst = content['#bookable_calendar_opening_inst'] %}
  {% set opening = inst.booking_opening.entity %}
  <div class="bookable__insthead">
    <div class="bookable__instheadleft">
      <div class="bookable__instheadDate">{{ inst.date.start_time|date('U')|format_date('custom', 'l, d.m.') }}</div>
      <span class="bookable__instheadLabel">{{- opening.label() -}},</span>
      {{ content.date }}
    </div>
    <div class="bookable__instheadright">
      {% set seats_available = content['availability']['#seats_available']|default(0) %}
      <span class="bookable__available bookable__available--{{- (seats_available > 0 ? 'available' : 'soldout') -}}">
        {% if seats_available > 0 %}
          {{ '@number left'|t({'@number': seats_available}) }}
        {% else %}
          {{ 'sold out'|t }}
        {% endif %}
      </span>
      {% if seats_available > 0 %}
        {{ content.book_link }}
      {% endif %}
    </div>
  </div>
  <div class="bookable__instbody">
    {{ opening.field_description|view }}
    {{ opening.field_info|view }}
  </div>
</div>
