{#
/**
 * @file
 * Default theme implementation to present a bookable calendar entity.
 *
 * This template is used when viewing a registered bookable calendar's page,
 * e.g., /admin/content/bookable-calendar/bookable-calendar)/123. 123 being the bookable calendar's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_bookable_calendar()
 */
#}
{{ attach_library('dgm_touch/bookable') }}

{% set is_bookable = content.instances|children|first ? true : false %}

<div {{ attributes.addClass('bookable bookable--ressource') }}>
  {% if is_bookable %}
    {% if content %}
      <div class="bookable__header">
        <h2 class="bookable__title">{{ 'Make a reservation'|t }}</h2>
        <div class="bookable__dateswitch">
          <select class="bookable__dateselect">
            {% for key,item in content.instances|children %}
              <option value="{{ loop.index }}" {% if loop.first %}selected{% endif %}>{{- key -}}</option>
            {% endfor %}
          </select>
          </div>
      </div>
      <div class="bookable__dates">
        {% for key,item in content.instances|children %}
        <div class="bookable__date" data-bookable-date-switch-target="{{ loop.index }}" {% if not loop.first %}style="display: none;"{% endif %}>
          {{- item -}}
        </div>
        {% endfor %}
      </div>
    {% endif %}
  {% else %}
    <h2 class="bookable__title">{{ 'Sorry, reservations are currently not possible.'|t }}</h2>
  {% endif %}
</div>
