{#
/**
 * @file
 * Default theme implementation to present a booking contact entity.
 *
 * This template is used when viewing a registered booking contact's page,
 * e.g., /admin/content/bookable-calendar/booking-contact)/123. 123 being the booking contact's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_booking_contact()
 */
#}
{% set meta = _context['#meta'] %}

<div {{ attributes.addClass('bookcontact') }}>
  <div class="bookcontact__header cktext">
    <h1 class="bookcontact__title hidden@lg">{{ 'Your reservation'|t }}</h1>
    <h2 class="bookcontact__node">{{ meta.node.label() }}</h2>
    {{ drupal_entity('bookable_calendar_opening_inst', meta.bookable_calendar_opening_inst.id()) }}
  </div>

  <div class="bookcontact__person">
    {{ content }}
  </div>

  <hr>

  <div class="text-align-center bookcontact__actions">
    <a href="{{ path('entity.node.canonical', {'node': meta.node.id()}) }}?preselect={{ meta.formatted_date|slice(0,11) }}">{{ 'Back to @label'|t({'@label': meta.node.label()}) }}</a><br>
    {{ 'or'|t }}<br>
    <a href="{{ path('entity.bookable_calendar.canonical', {'bookable_calendar': meta.bookable_calendar.id()}) }}?preselect={{ meta.formatted_date|slice(0,11) }}">{{ 'Add another reservation'|t }}</a><br>
  </div>
</div>
