{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {% if loop.first %}
    <div class="tile-container tile-container--listitem">
  {% endif %}
  {# due proximity sort we must use views with fields, but we want to render as entity #}
  {# that's why we cannot use {{ row.content }} here #}

  {# first one is core view, 2nd one is search api #}
  {% set node = row.content['#row']._entity %}
  {% set nid = node.nid.value ?? FALSE %}

  {% if nid %}
    {% set rendered_entity_html = drupal_entity('node', nid, 'tile_listitem')|render %}
    {% set distance = attribute(row.content['#row'], 'entity:node/field_geo__distance').0|trim %}
    {% if distance %}
      {##
       # START GEO_DISTANCE_HACK
       #
       # Due the sheer number of them, we want to reuse our existing entity view modes/twig templates.
       # This hack injects the geo distance into a drupal entity render array, because that data is not available
       # in the drupal database (it is provided by the Solr search result)
       #
       # @see @dgm_touch/templates/node/_node--tile_listitem.html.twig
      #}
      {% set geo_distance_label %}
        <div class="tile__subtitle tile__subtitle--distance">
          {{ '@number km away'|t({'@number': distance|number_format(1, ',')}) }}
        </div>
      {% endset %}
      {% set rendered_entity_html = rendered_entity_html|replace({'<!-- ### TILE_SUBTITLE_TAG ### -->': geo_distance_label}) %}
      {# END GEO_DISTANCE_HACK #}
    {% endif %}
    {{ rendered_entity_html|raw }}
  {% endif %}
  {% if loop.last %}
    </div>
  {% endif %}
{% endfor %}
