{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {% if loop.first %}
    <div class="tile-container">
  {% endif %}
  {# due proximity sort we must use views with fields, but we want to render as entity #}
  {# that's why we cannot use {{ row.content }} here #}
  {# we also cannot use drupal_entity() here, because we need to render one specific date field delta provided by views #}
  {% set row_content = row.content['#row'] %}
  {% set entity = row.content['#row']._entity %}
  {% if wt.language.id != entity.langcode.langcode and entity.hasTranslation(wt.language.id) %}
    {% set entity = entity.getTranslation(wt.language.id) %}
  {% endif %}
  {% set dummy_cache = row.content|render %}
  <div class="tile tile--event tile--1x1">
    <a class="tile__wrapper" href="{{ drupal_url('node/' ~ row_content.nid) }}">
      <div class="tile__img">
        {% if entity.field_imagefiles.0.entity %}
          {{ drupal_image(entity.field_imagefiles.0.entity.uri.value, 'tile1x1') }}
        {% endif %}
        {% if row_content.node__field_dates_field_dates_canceled or row_content.node__field_dates_field_dates_soldout %}
          <div class="tile__imgbutton">
            {% if row_content.node__field_dates_field_dates_canceled %}
              <div class="tile__imgtext tile__imgtext--canceled">{{ 'canceled'|t }}</div>
            {% endif %}
            {% if row_content.node__field_dates_field_dates_soldout %}
              <div class="tile__imgtext tile__imgtext--soldout">{{ 'sold out'|t }}</div>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <div class="tile__bar">
        <div class="tile__title">
          {{ entity.label }}
        </div>
        <div class="tile__subtitle">
          {% set startdate = (row_content.node__field_dates_field_dates_value ~ 'Z')|date('U')|format_date('custom', 'd.m.', 'Europe/Vienna') %}
          {% set starttime = (row_content.node__field_dates_field_dates_value ~ 'Z')|date('U')|format_date('custom', 'H:i', 'Europe/Vienna') %}
          {% set enddate = (row_content.node__field_dates_field_dates_end_value ~ 'Z')|date('U')|format_date('custom', 'd.m.', 'Europe/Vienna') %}
          {% set endtime = (row_content.node__field_dates_field_dates_end_value ~ 'Z')|date('U')|format_date('custom', 'H:i', 'Europe/Vienna') %}
          {% apply spaceless %}
            {{- startdate -}}
            {% if enddate != startdate %}&nbsp;-&nbsp;{{- enddate -}}{% endif %}
            &nbsp;
          {% endapply %}
          {% apply spaceless %}
            {% if starttime != '00:00' %}
              {{- starttime -}}
            {% endif %}
            {% if endtime != '23:59' and endtime != starttime %}{% if starttime != '00:00' %}-{% else %}{{- 'until'|t -}}{% endif %}&nbsp;{{- endtime -}}{% endif %}
          {% endapply %}
        </div>
      </div>
    </a>
  </div>
  {% if loop.last %}
    </div>
  {% endif %}
{% endfor %}
