// small screen, use mobile frontpage
@mixin xs {
  @media (max-width: 767px) {
    @content;
  }
}

// large screens
@mixin lg {
  @media (min-width: 768px) {
    @content;
  }
}

// large screens, use infopoint frontpage in portait mode
@mixin lg-pt {
  @media (orientation: portrait) and (min-width: 768px) and (max-width: 1399px) {
    @content;
  }
}

// large screens, use infopoint frontpage in landscape mode
@mixin lg-ls {
  @media (orientation: landscape) and (min-width: 768px), (min-width: 1400px) {
    @content;
  }
}


// huge screens, usually PC desktops; mostly used for extra whitespace
// must not be used for any functional or structural layout changes !
@mixin xl {
  @media (min-width: 1601px) and (min-height: 801px) {
    @content;
  }
}
