{% block container %}
  {% if links %}
    <div class="language-switcher">
      <button class="language-switcher__btn"><span class="language-switcher__text">{{ wt.language.id }}<span><i class="fal fa-chevron-down language-switcher__icon"></i></button>
      <ul{{ attributes.addClass('language-switcher__ul') }}>
        {%- for key, item in links -%}
          <li{{ item.attributes.addClass('language-switcher__li') }}>
            {% set link = item.link %}
            {% set link = link|merge({'#title': key}) %}
            {{ link }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock %}
