{% extends '@dgm_touch/node/_node--tile.html.twig' %}
{% block tile_subtitle %}
  <div class="tile__subtitle tile__subtitle--tour">
    {{ content|without(['field_imagefiles', 'field_imagefile', 'field_tour']) }}
  </div>
{% endblock %}

{% block tile_img_tag %}
  {% if not(node.field_tour.isEmpty ?? TRUE) %}
  <div class="tile__tag">
    <i class="tile__tag-icon fal fa-list"></i>
    {{ content.field_tour }}
  </div>
  {% endif %}
{% endblock %}
