{% block entity %}
  {% set dummy_force_cache_bubbling = content|render %}
  <div{{ attributes }}>
    {% block title %}
      <h{{ header_level|default('1') }}{{ title_attributes.addClass('node__title', 'node__title--' ~ node.bundle, (dgm.channel == 'iframe' ? '' : 'hidden@lg')) }}>
        {{ label }}
      </h{{ header_level|default('1') }}>
    {% endblock %}

    {% block content %}

      {% block content_upper_outer %}
        <div{{ content_attributes.addClass('node__content', 'node__content--upper', 'node__content--touristic', 'node__content--' ~ node.bundle) }}>
          {% block content_upper_inner %}
            {% block image %}
              <div class="node__image">
                {{ drupal_field('field_imagefiles', 'node', node.id, 'touch') }}
              </div>
            {% endblock %}

            {% block text %}
              <div class="node__text">
                {% block text_upper %}
                  {# address, event time,... #}
                {% endblock %}
                {% block text_middle %}
                  {% if (node.body.isEmpty ?? true) and not(node.field_text.isEmpty ?? true) %}
                    {% set text = drupal_field('field_text', 'node', node.id, 'touch')|render|striptags('<p><br>')|trim %}
                    {% set text = text|preg_replace('/<br\\s*\\/?>\s*<br\\s*\\/?>/i', '<br>') %}
                    {% set text = text|preg_replace('/<p[^>]*>(<br\\s*\\/?>|\\s|&nbsp;)*<\\/p>/i', '') %}
                    <div class="field field--fakebody">
                      {% autoescape false %}
                        {% if text|length > 600 %}
                            {{ text|slice(0, 600)|trim('<', 'right') ~ '...</p>' }}
                        {% else %}
                          {{ text }}
                        {% endif %}
                      {% endautoescape %}
                    </div>
                  {% else %}
                    {{ drupal_field('body', 'node', node.id, 'touch') }}
                  {% endif %}
                {% endblock %}
                {% block text_lower %}
                  {# rest of base data #}
                {% endblock %}
              </div>
            {% endblock %}
          {% endblock %}
        </div>
      {% endblock %}



      {% block content_middle_outer %}
        <div{{ content_attributes.removeClass('node__content--upper').addClass('node__content--middle') }}>
          {% block content_middle_inner %}
            {% block description %}
              <div class="node__description">
                {% block longtext %}
                  {{ drupal_field('field_text', 'node', node.id, 'touch') }}
                {% endblock %}
                {% block openhours %}
                  {% if not(node.field_openschema.isEmpty ?? true) or not(node.field_openhours.isEmpty ?? true) %}
                    <div class="h3 openhours-title">{{ 'Open hours'|t }}</div>
                    {{ drupal_field('field_openschema', 'node', node.id, 'touch') }}
                    {{ drupal_field('field_openhours', 'node', node.id, 'touch') }}
                  {% endif %}
                {% endblock %}
              </div>
            {% endblock %}

            {% block taxonomies %}
              <div class="node__taxonomies">
                {% block taxonomy %}
                  {# all taxonomies #}
                {% endblock %}
              </div>
            {% endblock %}
          {% endblock %}
        </div>
      {% endblock %}



      {% block content_video %}
        {% if embed_link %}
          <div{{ content_attributes.removeClass('node__content--middle').addClass('node__content--video') }}>
            <div class="node__video">
              <div class="dgmvideo__container dgmvideo__container--16x9">
                <iframe width="100%" height="100%" src="{{- embed_link -}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        {% endif %}
      {% endblock %}



      {% block content_lower_outer %}
        <div{{ content_attributes.removeClass('node__content--upper', 'node__content--middle').addClass('node__content--lower') }}>
          {% block lower_inner %}

            {% block geo %}
              {% if not (node.field_geo.isEmpty ?? true) %}
              <div class="node__geo">
                {{ drupal_field('field_geo', 'node', node.id, 'touch') }}
                <div class="node__geobtn">
                  {% if dgm.channel == 'iframe' %}
                    <a href="/dgm/{{ node.bundle }}" class="js-backlink button" target="_blank">{{ 'Back'|t }}</a> &nbsp;
                  {% endif %}
                  <a href="https://maps.google.com/maps?saddr=My+location&daddr={{- node.field_geo.0.lat -}},{{- node.field_geo.0.lng -}}" class="button" target="_blank">{{ 'Get directions'|t }}</a>
                </div>
              </div>
              {% endif %}
            {% endblock %}

            {% block datasource %}
              <div class="node__datasource">
                <dl class="node__datasourcedl">
                  {% if not (node.getOwner.field_copyright.isEmpty ?? true) %}
                      <dt class="node__datasourcedt">{{ 'Data supplier'|t }}</dt>
                      <dd class="node__datasourcedd cktext">
                        {{ {'#type': 'processed_text',
                            '#text': node.getOwner.field_copyright.0.value,
                            '#format': node.getOwner.field_copyright.0.format}
                        }}
                      </dd>
                  {% endif %}
                  {% if not (node.field_originator.isEmpty ?? true) %}
                    <dt class="node__datasourcedt">{{ 'Originator'|t }}</dt>
                    <dd class="node__datasourcedd cktext">
                      {{ {'#type': 'processed_text',
                        '#text': node.field_originator.0.value,
                        '#format': node.field_originator.0.format}
                      }}
                    </dd>
                  {% endif %}
                  {% if node.remote_id.value %}
                      <dt class="node__datasourcedt">{{ 'Data source'|t }}</dt>
                      <dd class="node__datasourcedd">{{ node.remote_datasource.value }}, ID {{ node.remote_id.value }}</dd>
                  {% endif %}
                  <dt class="node__datasourcedt">{{ 'Last updated'|t }}</dt>
                  <dd class="node__datasourcedd">{{ node.changed.value|default(node.created.value)|date('d.m.Y, H:i:s') }}</dd>
                </dl>
              </div>
            {% endblock %}

          {% endblock %}
        </div>
      {% endblock %}


    {% endblock %}
  </div>
{% endblock %}
