{% set dummy_force_cache_bubbling = content|render %}
{% set category_field = category_field ?? 'field_' ~ node.bundle() %}

{#
  This template will work for most "data" nodes following the "title-image" field schema.
  It will not work for "livedata" nodes like snow, weather

  tile_classes should be similar to paragraph tile templates (like e.g. link)
  @see '@dgm_touch/paragraph/_paragraph--tile.html.twig'
  @see '@dgm_touch/paragraph/paragraph--dgmlink.html.twig'
#}

{% block entity %}
  {% set tile_classes = tile_classes ?? [
    'tile',
    'tile--' ~ node.bundle(),
    'tile--' ~ view_mode|replace({'tile': ''}),
  ] %}
  <div{{ attributes.addClass(tile_classes) }}>
    {% block tile %}
      <a class="tile__wrapper {% if nobar %}tile__wrapper--no-bar{% endif %}" href="{{ url }}">
        {% block tile_img %}
          {% block tile_img_img %}
            <div class="tile__img">
              {% if not(node.field_imagefiles.isEmpty ?? true) %}
                {{ content.field_imagefiles.0 }}
              {% elseif not(node.field_imagefile.isEmpty ?? true) %}
                {{ content.field_imagefile }}
              {% else %}
                {% set termImageFound = false %}
                {% for term in attribute(node, category_field).0.entity.getAncestors(true) %}
                  {% if term.field_imagefile.0.entity and not(termImageFound) %}
                    {# if the image is coming from an ancenstor, this is not cache-safe, but it should not matter in practical use #}
                    {{ drupal_image(term.field_imagefile.0.entity.fileuri, view_mode) }}
                    {% set termImageFound = true %}
                  {% endif %}
                {% endfor %}
                {% if not(termImageFound) %}
                  {{ drupal_image('public://defaultimages/' ~ node.bundle() ~ '.jpg', view_mode) }}
                {% endif %}
              {% endif %}
            {% endblock %}
            {% block tile_img_tags %}
              <div class="tile__tags">
                {##
                 # The following HTML comments must not be removed.
                 # They are placeholders to inject data from views results rows
                 # into single rendered entities.
                 #
                 # @see @dgm_touch/templates/views/views-view-unformatted.html.twig
                 # @see @dgm_touch/templates/modules/geolocation/geolocation-map-location.html.twig
                 #}
                <!-- ### TILE_IMG_TAG_BEFORE ### -->
                {% block tile_img_tag %}{% endblock %}
                <!-- ### TILE_IMG_TAG_AFTER ### -->
              </div>
            {% endblock %}
          </div>
        {% endblock %}


        {% block tile_bar %}
          {% if not (nobar ?? false) %}
            <div class="tile__bar">
              {% block tile_title %}
                {{ label }}
              {% endblock %}

              {% block tile_subtitle %}
                {% set subtitle = content|without(['field_imagefiles', 'field_imagefile'])|render %}
                {% if subtitle %}
                  <div class="tile__subtitle">
                    {{ subtitle }}
                  </div>
                {% endif %}
              {% endblock %}
            </div>
          {% endif %}
        {% endblock %}
      </a>
    {% endblock %}
  </div>
{% endblock %}
