{% set dummy_force_cache_bubbling = content|render %}
{% set category_field = category_field ?? 'field_' ~ node.bundle() %}

{#
This template is an advanced version of "@dgm_touch/node/_node_tile.html.twig",
but with a smaller, left-floating image and more text data on the tile.

It is currently only used for infrastructure.
#}


{% block entity %}
  {% set tile_classes = tile_classes ?? [
    'tile',
    'tile--' ~ node.bundle(),
    'tile--' ~ view_mode|replace({'tile': '', 'tile_': ''}),
  ] %}
  <div{{ attributes.addClass(tile_classes) }}>
    {% block tile %}
      <div class="tile__wrapper tile__wrapper--listitem">
        {% block tile_left %}
          <div class="tile__left tile__left--{{ node.bundle() }}">
            {% block tile_img %}
              {% block tile_img_img %}
                <a class="tile__img tile__img--listitem" href="{{ url }}">
                  {% if not(node.field_imagefiles.isEmpty ?? true) %}
                    {{ content.field_imagefiles.0 }}
                  {% else %}
                    {% set termImageFound = false %}
                    {% for term in attribute(node, category_field).0.entity.getAncestors(true) %}
                      {% if term.field_imagefile.0.entity and not(termImageFound) %}
                        {# if the image is coming from an ancenstor, this is not cache-safe, but it should not matter in practical use #}
                        {{ drupal_image(term.field_imagefile.0.entity.fileuri, '4_3_188x141') }}
                        {% set termImageFound = true %}
                      {% endif %}
                    {% endfor %}
                    {% if not(termImageFound) %}
                      {{ drupal_image('public://defaultimages/' ~ node.bundle() ~ '.jpg', '4_3_188x141') }}
                    {% endif %}
                  {% endif %}
                </a>
              {% endblock %}
              {% block tile_img_tags %}
                <div class="tile__tags">
                  {##
                   # The following HTML comments must not be removed.
                   # They are placeholders to inject data from views results rows
                   # into single rendered entities.
                   #
                   # @see @dgm_touch/templates/views/views-view-unformatted.html.twig
                   # @see @dgm_touch/templates/modules/geolocation/geolocation-map-location.html.twig
                   #}
                  <!-- ### TILE_IMG_TAG_BEFORE ### -->
                  {% block tile_img_tag %}{% endblock %}
                  <!-- ### TILE_IMG_TAG_AFTER ### -->
                </div>
              {% endblock %}
            {% endblock %}
          </div>
        {% endblock %}
        {% block tile_middle %}
          <a class="tile__center tile__center--{{ node.bundle() }}" href="{{ url }}">
            {% block tile_middle_title %}
              {{ label }}
            {% endblock %}
            {% block tile_middle_subtitle %}
              {% if not(attribute(node, category_field).isEmpty ?? true) %}
                <div class="tile__subtitle tile__subtitle--categories">
                  {{ attribute(content, category_field) }}
                </div>
              {% endif %}
              <div class="tile__subtitle tile__subtitle--address">
                {{ content.field_street }}
                {% if not(node.field_postcode.isEmpty ?? true) or not(node.field_city.isEmpty ?? true) %}
                  {{ content.field_postcode.0 }} {{ content.field_city.0 }}
                {% endif %}
              </div>
            {% endblock %}
            {##
             # The following HTML comment must not be removed.
             # They are placeholders to inject data from views results rows
             # into single rendered entities.
             #
             # @see @dgm_touch/templates/views/views-view-unformatted--dgm--infrastructure_list.html.twig
             # @see @dgm_touch/templates/modules/geolocation/geolocation-map-location.html.twig
             #}
            <!-- ### TILE_SUBTITLE_TAG ### -->
          </a>
        {% endblock %}
        {% block tile_right %}
          <div class="tile__right tile__right--{{ node.bundle() }}">
            {% if not(node.field_homepage.isEmpty ?? true) %}
              <a href="{{- node.field_homepage.0.uri -}}" class="tile__iconlink" target="_blank"><i class="tile__icon fal fa-external-link"></i></a>
            {% endif %}
            {% if not(node.field_email.isEmpty ?? true) %}
              <a href="mailto:{{- node.field_email.0.value -}}" class="tile__iconlink"><i class="tile__icon fal fa-envelope"></i></a>
            {% endif %}
            {% if not(node.field_phone.isEmpty ?? true) %}
              <a href="tel:{{- node.field_phone.0.value -}}" class="tile__iconlink"><i class="tile__icon fal fa-phone"></i></a>
            {% endif %}
          </div>
        {% endblock %}

      </div>
    {% endblock %}
  </div>
{% endblock %}
