{% extends '@dgm_touch/node/_node--tile.html.twig' %}

{% block tile_subtitle %}
  <div class="tile__subtitle">
    {{ content|without(['field_imagefiles', 'field_imagefile', 'field_poi']) }}
  </div>
{% endblock %}


{% block tile_img_tag %}
  {% if not(node.field_poi.isEmpty ?? TRUE) %}
    <div class="tile__tag">
      <i class="tile__tag-icon fal fa-list"></i>
      <div class="tile__tag-text">
        {{ content.field_poi }}
      </div>
    </div>
  {% endif %}
{% endblock %}
