{% extends '@dgm_touch/node/_node--tile.html.twig' %}
{% import '@dgm_base/daswetter.macro.twig' as daswetter %}
{% set attributes = attributes.addClass('tile--highlightbg') %}

{% block tile %}
  {{ attach_library('dgm_base/weather') }}
  <a class="tile__wrapper tile__wrapper--no-bar" href="{{ url }}">
    {% block tile_img %}
      <div class="tile__img tile__img--weather weather weather--tile weather--{{ view_mode }}">
        <div class="weather__line weather__line--city">
          <span class="weather__text weather__text--city">{{ 'now in @city'|t({'@city': label|render|striptags}) }}</span>
        </div>
        {{ daswetter.render(rawdata.daswetter_now) }}
      </div>
    {% endblock %}
  </a>
{% endblock %}



{% block tile_title %}
  <div class="tile__title">
    {{ 'Weather forecast'|t }}
  </div>
{% endblock %}

{% block tile_subtitle %}{% endblock %}
