{% extends '@dgm_touch/node/_node--tile.html.twig' %}

{% block tile_img %}
  <div class="tile__img tile__img--avalanche">
    {{ source('@dgm_base/../images/avalanches/dangerscale_dry' ~ node.field_avalanche_danger.0.value ~ '.svg') }}
  </div>
{% endblock %}

{% block tile_title %}
  {{ "Avalanches"|t }} {{ content.field_avalanche_region.0 }}
{% endblock %}

{% block tile_subtitle %}
  <div class="tile__subtitle">
    {{ "Danger scale"|t }}{{ node.field_avalanche_danger.0.value ? " " ~ node.field_avalanche_danger.0.value }}: {{ content.field_avalanche_danger.0|default('no rating'|t) }}
  </div>
{% endblock %}
