{% extends '@dgm_touch/node/_node--tile.html.twig' %}

{% block tile %}
  {% if node.field_webcam.0.first == 'panomax' %}

    <div class="tile__wrapper webcam__panomax webcam__panomax--{{- node.field_webcam.0.second -}}">
      <script type="text/javascript" src="https://static.panomax.com/front/thumbnail/js/pmaxthumbnail.js"></script>
      <script type="text/javascript">
        var scriptTags = document.querySelectorAll('script');
        var parentHeight = Math.max(scriptTags[scriptTags.length - 1].parentNode.offsetHeight, 100) + 'px';
        PmaxThumbnail.place({
          target: "_blank",
          instanceName: false,
          instanceLogo: false,
          map: false,
          weather: false,
          timelapse: false,
          width: '100%',
          height: parentHeight,
          instance: {{- node.field_webcam.0.second -}}
        });
      </script>
    </div>


  {% elseif node.field_webcam.0.first == 'feratel' %}


    {% if view_mode in ['tile2x1', 'tile2x2'] %}
        {% set size = 38 %}
      {% elseif view_mode == 'tile3x2' %}
        {% set size = 37 %}
      {% else %}
        {% set size = 39 %}
      {% endif %}
      <a href="https://webtv.feratel.com/webtv/?design=v3&cam={{- node.field_webcam.0.second -}}" class="tile__wrapper" target="_blank">
        <div class="tile__img tile__img--webcam tile__img--webcam-image">
          <img src="https://wtvpict.feratel.com/picture/{{- size -}}/{{- node.field_webcam.0.second -}}.jpeg?&design=v3" class="webcam webcam--image webcam--tile"></img>
        </div>
      </a>


  {% elseif node.field_webcam.0.first == 'fotoeu' %}


    {% if view_mode in ['tile2x1', 'tile2x2'] %}
      {% set size = 400 %}
    {% elseif view_mode == 'tile3x2' %}
      {% set size = 640 %}
    {% else %}
      {% set size = 240 %}
    {% endif %}
    <a href="https://www.foto-webcam.eu/webcam/{{- node.field_webcam.0.second -}}" class="tile__wrapper" target="_blank">
      <div class="tile__img tile__img--webcam tile__img--webcam-image">
        <img src="https://www.foto-webcam.eu/webcam/{{- node.field_webcam.0.second -}}/current/{{- size -}}.jpg" class="webcam webcam--image webcam--tile"></img>
      </div>
    </a>


  {% elseif node.field_webcam.0.first == 'image' %}


    <a href="{{- node.field_webcam.0.second -}}" class="tile__wrapper" target="_blank">
      <div class="tile__img tile__img--{{ node.id }} tile__img--webcam tile__img--webcam-image">
        <script>
          var dgmWebcamImage_{{ node.id }} = document.createElement('img');
          dgmWebcamImage_{{ node.id }}.setAttribute('class', 'webcam webcam--image webcam--tile');
          dgmWebcamImage_{{ node.id }}.setAttribute('src', '{{- node.field_webcam.0.second -}}' + ('{{- node.field_webcam.0.second -}}'.includes('?') ? '&timestamp=' : '?timestamp=') + Date.now());
          document.querySelectorAll('.tile__img--webcam-image.tile__img--{{ node.id }}').forEach( div => div.appendChild(dgmWebcamImage_{{ node.id }}).parentNode.classList.remove('tile__img--{{ node.id }}') );
        </script>
      </div>
    </a>


  {% elseif node.field_webcam.0.first == 'iframe' %}


    <div class="tile__wrapper">
      <div class="tile__img tile__img--webcam tile__img--webcam-iframe">
        <iframe src="{{- node.field_webcam.0.second -}}" class="webcam webcam--iframe webcam--tile"></iframe>
      </div>
    </div>



  {% endif %}


  {% block tile_bar %}
    {{ parent() }}
  {% endblock %}

  {% block tile_subtitle %}
    {% set subtitle = content|without(['field_imagefiles', 'field_imagefile'])|render %}
    <div class="tile__subtitle">
      <div>{{ 'Webcam'|t }} {{ content.field_city.0 }}</div>
    </div>
  {% endblock %}
{% endblock %}

