{% extends '@dgm_touch/node/_node--tile.html.twig' %}

{% block tile_img_tags %}
  {% if node.field_dates.0.canceled or node.field_dates.0.soldout %}
    <div class="tile__imgbutton">
      {% if node.field_dates.0.canceled %}
        <div>{{ 'canceled'|t }}</div>
      {% endif %}
      {% if node.field_dates.0.soldout %}
        <div>{{ 'sold out'|t }}</div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
