{% extends '@dgm_touch/node/_node--tile.html.twig' %}
{% block tile_subtitle %}{% endblock %}

{% block tile %}
  {% set url = file_url(node.field_file.0.entity.uri.value) %}
  {{ parent() }}
{% endblock %}
