{% extends '@dgm_touch/node/_node--tile.html.twig' %}
{% set attributes = attributes.addClass('tile--highlightbg') %}

{% block tile %}
  {{ attach_library('dgm_base/snow') }}
  {% set xml = rawdata['#data'] %}
  {% set is_operating = (xml.bergfexStatusIcon.attributes.id == 1 and xml.operation.attributes.id not in [403]) %}

  <a class="tile__wrapper tile__wrapper--no-bar" href="{{ url }}">
    {% block tile_img %}
      <div class="tile__img tile__img--snow snow snow--tile snow--{{ view_mode }}">
        <div class="snow__line snow__line--city">
          <span class="snow__text snow__text--city">{{ node.label }}</span>
        </div>
        <div class="snow__line snow__line--icon snow__line--depth">
          <span class="snow__icon">{{ source('@dgm_base/../images/snow/snowflake.svg') }}</span>

          {% set villageItem = FALSE %}
          {% set baseStationItem = FALSE %}
          {% set topStationItem = FALSE %}
          {% for key, item in xml.snow.itemSnow %}
            {% if loop.index0 == 0 %}
              {% set villageItem = item %}
            {% elseif loop.index0 == 1 %}
              {% set baseStationItem = item %}
            {% elseif loop.index0 == 2 %}
              {% set topStationItem = item %}
            {% endif %}
          {% endfor %}

          {% set depth = topStationItem.depth|render %}
          {% set depth = depth ?? baseStationItem.depth|render %}
          {% set depth = depth ?? villageItem.depth|render %}
          {% set depth = depth ?? 0 %}
          <span class="snow__depth">{{ depth }}<span class="snow__depthunit">cm</span></span>
        </div>
        <div class="snow__line snow__line--desc">
          {% set lifts = xml.openLifts|render %}
          {% set lifts = lifts ?? '0' %}
          {% if is_operating and lifts > 0 %}
            <span class="snow__text snow__text--lifts snow__text--lifts-open">
              {% trans %}
                {{ lifts }} open lift
              {% plural lifts %}
                {{ lifts }} open lifts
              {% endtrans %}
            </span>
          {% else %}
            <span class="snow__text snow__text--lifts snow__text--lifts-closed">{{ 'Lifts closed'|t }}</span>
          {% endif %}
        </div>
      </div>
    {% endblock %}
  </a>
{% endblock %}



{% block tile_title %}
  <div class="tile__title">
    {{ 'Snow report'|t }}
  </div>
{% endblock %}

{% block tile_subtitle %}{% endblock %}
