{% extends '@dgm_touch/node/_node--touristic--full.html.twig' %}

{% block text_upper %}
  <div class="node__factbox node__factbox--highlighttext">
    <div class="node__facticon"><i class="fal fa-calendar-alt"></i></div>
    <div class="node__facts">
      {{ drupal_field('field_dates', 'node', node.id, 'touch') }}
    </div>
  </div>
{% endblock %}

{% block text_lower %}
  <div class="node__factbox node__factbox--accentedbg">
    <div class="node__facticon"><i class="fal fa-map-marker-alt"></i></div>
    <div class="node__facts">
      {% if node.field_location.0.entity %}
        {{ drupal_field('field_location', 'node', node.id, 'touch') }}
      {% else %}
        <h4>{{ drupal_field('field_locationname', 'node', node.id, 'touch') }}</h4>
        {{ drupal_field('field_street', 'node', node.id, 'touch') }}
        <div>{{ node.field_postcode.0.value }} {{ node.field_city.0.value }}</div>
        {{ drupal_field('field_country', 'node', node.id, 'touch') }}
      {% endif %}
      {% if not (node.field_actionlink.isEmpty ?? true) %}
        <div class="field field--actionlink"><a href="{{ node.field_actionlink.0.uri.toString }}" class="btn--primary" target="_blank">{{ 'Buy ticket'|t }}</a></div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block taxonomy %}
  <div class="node__factbox node__factbox--accentedbg">
    <div class="node__facticon"><i class="fal fa-envelope"></i></div>
    <div class="node__facts">
      {% if node.field_organizer.0.entity %}
        {{ drupal_field('field_organizer', 'node', node.id, 'touch') }}
      {% else %}
        <h4>{{ (drupal.field_organizername.isEmpty ?? true) ? 'Contact'|t : drupal_field('field_organizername', 'node', node.id, 'touch') }}</h4>
        {{ drupal_field('field_phone', 'node', node.id, 'touch') }}
        {{ drupal_field('field_email', 'node', node.id, 'touch') }}
        {{ drupal_field('field_homepage', 'node', node.id, 'touch') }}
      {% endif %}
    </div>
  </div>

  {% if not (node.field_children.isEmpty ?? true) %}
    <div class="node__factbox node__factbox--accentedbg node__factbox--taxonomy">
      <div class="node__facticon"><i class="fal fa-baby"></i></div>
      <div class="node__facts">
        <h4>{{ node.field_children.fieldDefinition.label }}</h4>
        {{ drupal_field('field_children', 'node', node.id, 'touch') }}
      </div>
    </div>
  {% endif %}

  {% if not (node.field_parking.isEmpty ?? true) %}
    <div class="node__factbox node__factbox--accentedbg node__factbox--taxonomy">
      <div class="node__facticon"><i class="fal fa-cars"></i></div>
      <div class="node__facts">
        <h4>{{ node.field_parking.fieldDefinition.label }}</h4>
        {{ drupal_field('field_parking', 'node', node.id, 'touch') }}
      </div>
    </div>
  {% endif %}

  {% if not (node.field_other.isEmpty ?? true) %}
    <div class="node__factbox node__factbox--accentedbg node__factbox--taxonomy">
      <div class="node__facticon"><i class="fal fa-tags"></i></div>
      <div class="node__facts">
        <h4>{{ node.field_other.fieldDefinition.label }}</h4>
        {{ drupal_field('field_other', 'node', node.id, 'touch') }}
      </div>
    </div>
  {% endif %}
{% endblock %}
