<div{{ attributes }}>
  {% set dummy_cache = content|render %}

  {% if content.field_slot1|render|striptags('<iframe><img><svg>')|trim %}
    {{ content.field_slot1 }}
  {% else %}
    <div class="tile--3x2">&nbsp;</div>
  {% endif %}

  {% if content.field_slot2|render|striptags('<iframe><img><svg>')|trim %}
    {{ content.field_slot2 }}
  {% else %}
    <div class="tile--1x1">&nbsp;</div>
  {% endif %}

  {% if content.field_slot3|render|striptags('<iframe><img><svg>')|trim %}
    {{ content.field_slot3 }}
  {% else %}
    <div class="tile--1x1">&nbsp;</div>
  {% endif %}

  <div class="dgminfopoint__slot4">
    <div class="dgminfopoint__orientationwrapper hidden@lg-pt">
      {{ content.field_slot4 }}
    </div>
    <div class="dgminfopoint__orientationwrapper hidden@lg-ls">
      {{ content.field_slot4_portrait }}
    </div>
  </div>

  {% if content.field_slot5|render|striptags('<iframe><img><svg>')|trim %}
    {{ content.field_slot5 }}
  {% else %}
    <div class="tile--2x2">&nbsp;</div>
  {% endif %}

  {% if content.field_slot6|render|striptags('<iframe><img><svg>')|trim %}
    {{ content.field_slot6 }}
  {% else %}
    <div class="tile--2x2">&nbsp;</div>
  {% endif %}

  {% if content.field_slot7|render|striptags('<iframe><img><svg>')|trim %}
    {{ content.field_slot7 }}
  {% else %}
    <div class="tile--1x1">&nbsp;</div>
  {% endif %}

  {% if content.field_slot8|render|striptags('<iframe><img><svg>')|trim %}
    {{ content.field_slot8 }}
  {% else %}
    <div class="tile--2x1">&nbsp;</div>
  {% endif %}

</div>
