{% extends '@dgm_touch/node/_node--touristic--full.html.twig' %}

{% block text_upper %}
  <div class="node__factbox node__factbox--highlighttext">
    <div class="node__facticon"><i class="fal fa-hashtag"></i></div>
    <div class="node__facts">
      {{ drupal_field('field_tour', 'node', node.id, 'touch') }}
    </div>
  </div>
{% endblock %}

{% block text_lower %}
  {% if not (node.field_duration.isEmpty ?? true) or not (node.field_difficulty.isEmpty ?? true) %}
    <div class="node__factbox node__factbox--accentedbg">
      {% if not (node.field_difficulty.isEmpty ?? true) %}
        <div class="node__facticon"><i class="fal fa-chart-line"></i></div>
        <div class="node__facts">
          {{ drupal_field('field_difficulty', 'node', node.id, 'touch') }}
        </div>
      {% endif %}
      {% if not (node.field_duration.isEmpty ?? true) %}
        <div class="node__facticon"><i class="fal fa-clock"></i></div>
        <div class="node__facts">
          {{ drupal_field('field_duration', 'node', node.id, 'touch') }}
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}


{% block content_middle_inner %}
  {{ parent() }}
  {% if not(node.field_rating_condition.isEmpty) or
        not(node.field_rating_technique.isEmpty) or
        not(node.field_rating_experience.isEmpty) or
        not(node.field_rating_landscape.isEmpty) or
        not(node.field_months.isEmpty) %}
    <div class="node__description node__description--ratings">
      <div class="tour__statistics">
        {% if not(node.field_rating_condition.isEmpty) or
              not(node.field_rating_technique.isEmpty) or
              not(node.field_rating_experience.isEmpty) or
              not(node.field_rating_landscape.isEmpty) %}
          <div class="tour__rating">
            <h3>{{ 'Ratings'|t }}</h3>
            <div class="tour__rating_list">
              {{ content.field_rating_condition }}
              {{ content.field_rating_technique }}
              {{ content.field_rating_experience }}
              {{ content.field_rating_landscape }}
            </div>
          </div>
        {% endif %}
        {% if not(node.field_month.isEmpty) %}
          {% set months = node.field_months.getValue()|map(v => v.value) %}
          <div class="tour__bymonth">
            <h3>{{ 'Best season'|t }}</h3>
            <div class="tour__bymonth_months">
              {% for i in 1 .. 12 %}
                <div class="tour__bymonth_month tour__bymonth_month--{%- if i not in months -%}in{%- endif -%}active">{{ "2000-#{i}-01"|date('U')|format_date('custom', 'M')|slice(0,3) }}</div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content_lower_outer %}
  <div{{ content_attributes.removeClass('node__content--upper', 'node__content--middle').addClass('node__content--lower') }}>
    {% block lower_inner %}
      {% block geo %}
        {% if not (node.field_gpx.isEmpty ?? true) %}
          {% for idx,item in node.field_gpx %}
            <div class="leaflet__statswrapper leaflet__statswrapper--{{ node.id }}_{{ idx }}">
              <div class="leaflet__statscontainer leaflet__statscontainer--{{ node.id }}_{{ idx }}">
                <h4>{{ 'Tour facts'|t }}</h4>
              </div>
            </div>
          {% endfor %}
          <div class="node__geo">
            {{ attach_library('wt_dgm/tour') }}
            {{ drupal_field('field_gpx', 'node', node.id, 'touch') }}
            <div class="node__geobtn">
              {% if dgm.channel == 'iframe' %}
                <a href="/dgm/{{ node.bundle }}" class="js-backlink button" target="_blank">{{ 'Back'|t }}</a> &nbsp;
              {% endif %}
              <a href="{{ file_url(node.field_gpx.0.entity.uri.value) }}" class="btn btn--primary" target="_blank" download>{{ 'Download GPX'|t }}</a>
            </div>
          </div>
        {% endif %}
      {% endblock %}
    {% endblock %}
    {{ block('datasource') }}
  </div>
{% endblock %}
