{% block entity %}
  <div{{ attributes }}>
    {% block title %}
      <h{{ header_level|default('1') }}{{ title_attributes.addClass('node__title', 'node__title--' ~ node.bundle, 'hidden@lg') }}>
        {{ label }}
      </h{{ header_level|default('1') }}>
    {% endblock %}

    {% block content %}
      <div{{ content_attributes.addClass('node__content', 'node__content--' ~ node.bundle) }}>
        {{ content }}
      </div>
    {% endblock %}
  </div>
{% endblock %}
