{% extends '@dgm_touch/node/_node--touristic--full.html.twig' %}

{% block text_upper %}
  {% if not(node.field_cuisine.isEmpty ?? TRUE) or not(node.field_gastronomy.isEmpty ?? TRUE) %}
    <div class="node__factbox node__factbox--highlighttext">
      <div class="node__facticon"><i class="fal fa-hat-chef"></i></div>
      <div class="node__facts">
        {% if not (node.field_cuisine.isEmpty ?? TRUE) %}
          {{ drupal_field('field_cuisine', 'node', node.id, 'touch') }}
        {% else %}
          {{ drupal_field('field_gastronomy', 'node', node.id, 'touch') }}
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block text_lower %}
  <div class="node__factbox node__factbox--accentedbg">
    {% if not (node.field_street.isEmpty ?? true) or not (node.field_postcode.isEmpty ?? true) or not (node.field_city.isEmpty ?? true) or not (node.field_country.isEmpty ?? true) %}
      <div class="node__facticon"><i class="fal fa-map-marker-alt"></i></div>
      <div class="node__facts">
        {{ drupal_field('field_street', 'node', node.id, 'touch') }}
        <div>{{ node.field_postcode.0.value }} {{ node.field_city.0.value }}</div>
        {{ drupal_field('field_country', 'node', node.id, 'touch') }}
      </div>
    {% endif %}
    {% if not (node.field_phone.isEmpty ?? true) or not (node.field_email.isEmpty ?? true) or not (node.field_homepage.isEmpty ?? true) %}
      <div class="node__facticon"><i class="fal fa-envelope"></i></div>
      <div class="node__facts">
        {{ drupal_field('field_phone', 'node', node.id, 'touch') }}
        {{ drupal_field('field_email', 'node', node.id, 'touch') }}
        {{ drupal_field('field_homepage', 'node', node.id, 'touch') }}
      </div>
    {% endif %}
  </div>

{% endblock %}

{% block taxonomy %}
  {% if not (node.field_capacity.isEmpty ?? true) or not (node.field_gastronomy_group.isEmpty ?? true) %}
    <div class="node__factbox node__factbox--accentedbg node__factbox--taxonomy">
      <div class="node__facticon"><i class="fal fa-chair"></i></div>
      <div class="node__facts">
        <h4>{{ 'Capacity'|t({}, {context: 'Seats'}) }}</h4>
        {% if not (node.field_capacity.isEmpty ?? true) or not (node.field_gastronomy_group.isEmpty ?? true) %}
          <ul class="gastronomy__capacity">
            {% if not (node.field_capacity.isEmpty ?? true) %}
              <li>{{ node.field_capacity.0.value }} {{ node.field_capacity.fieldDefinition.label }}</li>
            {% endif %}
            {% if not (node.field_gastronomy_group.isEmpty ?? true) %}
              <li>{{ node.field_gastronomy_group.fieldDefinition.label }} {{ node.field_gastronomy_group.fieldDefinition.setting('prefix') }} {{ node.field_gastronomy_group.0.value }} {{ node.field_gastronomy_group.fieldDefinition.setting('suffix') }}</li>
            {% endif %}
          </ul>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {% if not (node.field_children.isEmpty ?? true) %}
    <div class="node__factbox node__factbox--accentedbg node__factbox--taxonomy">
      <div class="node__facticon"><i class="fal fa-baby"></i></div>
      <div class="node__facts">
        <h4>{{ node.field_children.fieldDefinition.label }}</h4>
        {{ drupal_field('field_children', 'node', node.id, 'touch') }}
      </div>
    </div>
  {% endif %}

  {% if not (node.field_parking.isEmpty ?? true) %}
    <div class="node__factbox node__factbox--accentedbg node__factbox--taxonomy">
      <div class="node__facticon"><i class="fal fa-cars"></i></div>
      <div class="node__facts">
        <h4>{{ node.field_parking.fieldDefinition.label }}</h4>
        {{ drupal_field('field_parking', 'node', node.id, 'touch') }}
      </div>
    </div>
  {% endif %}

  {% if not (node.field_other.isEmpty ?? true) %}
    <div class="node__factbox node__factbox--accentedbg node__factbox--taxonomy">
      <div class="node__facticon"><i class="fal fa-tags"></i></div>
      <div class="node__facts">
        <h4>{{ node.field_other.fieldDefinition.label }}</h4>
        {{ drupal_field('field_other', 'node', node.id, 'touch') }}
      </div>
    </div>
  {% endif %}
{% endblock %}
