{% block entity %}
  <div{{ attributes.addClass('a_z') }}>
    <div class="a_z__side">
      {% set alphabet = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', '#'] %}
      {% for key,letter in alphabet %}
        {% set fieldname = 'field_text' ~ loop.index %}
        {% if not (attribute(node, fieldname).isEmpty ?? true) %}
          <div class="a_z__letter a_z__letter--{{ key }}">
            <a href="#a_z__section--{{ loop.index }}" class="a_z__link">{{ letter }}</a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="a_z__main">
      {% block title %}
        <h{{ header_level|default('1') }}{{ title_attributes.addClass('node__title', 'node__title--' ~ node.bundle, 'hidden@lg') }}>
          {{ label }}
        </h{{ header_level|default('1') }}>
      {% endblock %}

      {% block content %}
        <div{{ content_attributes.addClass('a_z__content', 'node__content', 'node__content--' ~ node.bundle) }}>
          {{ content }}
        </div>
      {% endblock %}
    </div>
  </div>
{% endblock %}
