{% extends '@dgm_touch/node/node--full.html.twig' %}

{% block content %}
  <div{{ content_attributes.addClass('node__content', 'node__content--' ~ node.bundle) }}>
    <iframe src="https://lawinen-warnung.eu/bulletin/AT-08/latest?language={{ wt.language.id() }}" style="width: 100%;height: 4000px;border: 0;background: transparent;"></iframe>
    <p>&copy; Landeswarnzentrale Vorarlberg, <a href="https://www.vorarlberg.at/lawine" target="_blank">www.vorarlberg.at/lawine</a></p>
  </div>
{% endblock %}
