{% block entity %}
  <div{{ attributes.addClass('node--with-intro') }}>
    {% block title %}
      <h{{ header_level|default('1') }}{{ title_attributes.addClass('node__title', 'hidden@lg') }}>
        {{ label }}
      </h{{ header_level|default('1') }}>
    {% endblock %}

    {% block intro %}
      {% if not(node.body.isEmpty ?? true) %}
        <div{{ content_attributes.addClass('node__content', 'node__content--intro') }}>
          {{ content.body }}
        </div>
      {% endif %}
    {% endblock %}
  </div>

  {% block list %}
    <div class="tile-container tile-container--dgmlist">
      {# changed 31.03.2022 #}
      {# legacy datastructure is using ER field_nodes, newer instances use ERR field_dgmlist #}
      {% if not(node.field_nodes.isEmpty ?? true) and (node.field_dgmlist.isEmpty ?? true) %}
        {# legacy fields, BVT and OA #}
        {{ content|without('body', 'field_dgmlist') }}
      {% else %}
        {# new data model,  VBG #}
        {{ content|without('body', 'field_nodes') }}
      {% endif %}
    </div>
  {% endblock %}
{% endblock %}
