{% extends '@dgm_touch/node/_node--tile.html.twig' %}
{% block tile %}
  {% set dummy_cache = content|render %}
  {% if current_day %}
    <i class="fas fa-quote-right slogan__icon"></i>
    {{ current_day }}
  {% endif %}
{% endblock %}
