{% extends '@dgm_touch/node/_node--touristic--full.html.twig' %}

{% block text_upper %}
  <div class="node__factbox node__factbox--highlighttext">
    <div class="node__facticon"><i class="fal fa-hashtag"></i></div>
    <div class="node__facts">
      {{ drupal_field('field_poi', 'node', node.id, 'touch') }}
    </div>
  </div>
{% endblock %}

{% block text_lower %}
  {% if not (node.field_street.isEmpty ?? true) or not (node.field_postcode.isEmpty ?? true) or not (node.field_city.isEmpty ?? true) or not (node.field_country.isEmpty ?? true) %}
    <div class="node__factbox node__factbox--accentedbg">
      <div class="node__facticon"><i class="fal fa-map-marker-alt"></i></div>
      <div class="node__facts">
        {{ drupal_field('field_street', 'node', node.id, 'touch') }}
        <div>{{ node.field_postcode.0.value }} {{ node.field_city.0.value }}</div>
        {{ drupal_field('field_country', 'node', node.id, 'touch') }}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block taxonomy %}
  {% if not (node.field_phone.isEmpty ?? true) or not (node.field_email.isEmpty ?? true) or not (node.field_homepage.isEmpty ?? true) %}
    <div class="node__factbox node__factbox--accentedbg">
      <div class="node__facticon"><i class="fal fa-envelope"></i></div>
      <div class="node__facts">
        <h4>{{ 'Contact'|t }}</h4>
        {{ drupal_field('field_phone', 'node', node.id, 'touch') }}
        {{ drupal_field('field_email', 'node', node.id, 'touch') }}
        {{ drupal_field('field_homepage', 'node', node.id, 'touch') }}
      </div>
    </div>
  {% endif %}

  {% if not (node.field_children.isEmpty ?? true) %}
    <div class="node__factbox node__factbox--accentedbg node__factbox--taxonomy">
      <div class="node__facticon"><i class="fal fa-baby"></i></div>
      <div class="node__facts">
        <h4>{{ node.field_children.fieldDefinition.label }}</h4>
        {{ drupal_field('field_children', 'node', node.id, 'touch') }}
      </div>
    </div>
  {% endif %}

  {% if not (node.field_parking.isEmpty ?? true) %}
    <div class="node__factbox node__factbox--accentedbg node__factbox--taxonomy">
      <div class="node__facticon"><i class="fal fa-cars"></i></div>
      <div class="node__facts">
        <h4>{{ node.field_parking.fieldDefinition.label }}</h4>
        {{ drupal_field('field_parking', 'node', node.id, 'touch') }}
      </div>
    </div>
  {% endif %}

  {% if not (node.field_other.isEmpty ?? true) %}
    <div class="node__factbox node__factbox--accentedbg node__factbox--taxonomy">
      <div class="node__facticon"><i class="fal fa-tags"></i></div>
      <div class="node__facts">
        <h4>{{ node.field_other.fieldDefinition.label }}</h4>
        {{ drupal_field('field_other', 'node', node.id, 'touch') }}
      </div>
    </div>
  {% endif %}
{% endblock %}
