{##
 # This template must include <html> tag, because this way the Webform mailer plugin
 # will not render the body with Drupal's render pipeline (to avoid security-filtering CSS styles).
 #
 # Bug notice: This template will not be picked up when testing/re-sending mails via admin UI
 # (but it will work with normal frontend submissions)
 #
 # @see https://git.drupalcode.org/project/webform/-/blob/HEAD/src/Plugin/Mail/WebformPhpMail.php#L28
 #
 ##}
<!DOCTYPE html>
<html>
<head>
  <title>{{ subject }}</title>
  {##
   # use single class names only, no .class.chaining
   # because email clients simply suck at CSS :-((((
   ##}
  <style>
    .element-table {
      border: 0;
      padding: 0;
      border-spacing: 4px 2px;
    }
    .element-th {
      width: 200px;
      text-align: right;
      vertical-align: top;
      padding-right: 10px;
      border: 1px solid #ccc;
      background-color: #efefef;
      font-weight: bold;
    }
    .element-td-full {
      border: 1px solid #ccc;
      padding: 0 3px;
      width: 300px;
      text-align: left;
    }
    .element-td-half-right {
      border: 1px solid #ccc;
      padding: 0 3px;
      width: 149px;
      text-align: right;
    }
    .element-td-third-right {
      border: 1px solid #ccc;
      padding: 0 3px;
      width: 99px;
      text-align: right;
    }
  </style>
</head>
<body>
  {{ body|raw }}
</body>
</html>
