{# Theme must be explicitly set in webform email handler UI! #}

{% if options.email %}
  {% if value["#prefix"] %}
    {% set inputvalue = value["#markup"]|render|striptags|trim %}
    {% set price_text = value["#prefix"]|render %}
    {% set price_matches = price_text|preg_match('/[€]?\\s?(?<price_number>\\d+((\\.|\\,)\\d+)?)\\s?[€]?/i') %}
    {% set price_value = price_matches.price_number|replace({',': '.'}) %}
  {% else %}
    {% set inputvalue = value %}
    {% set price_value = 0 %}
  {% endif %}
  {% if inputvalue %}
    <table class="element-table">
      <tr>
        <th class="element-th">{{ title }}</th>

        {% if price_value and (inputvalue matches '/^[-+]?[0-9]*\\.?[0-9]+$/') %}
          <td class="element-td-third-right">{{ inputvalue }}</td>
          <td class="element-td-third-right">
            {{ price_value|number_format(2, '.', '') }} &euro;
          </td>
          <td class="element-td-third-right">
            {{ (price_value * inputvalue)|number_format(2, '.', '') }} &euro;
          </td>
        {% else %}
          <td class="element-td-full">{{ inputvalue }}</td>
        {% endif %}


      </tr>
    </table>
  {% endif %}
{% else %}
  {{ item }}
{% endif %}
