{# Theme must be explicitly set in webform email handler UI! #}

<br>
<h3>Bestellung</h3>
<table style="border: 0; padding: 0; border-spacing: 4px 2px;">
  <tr>
    <th class="element-th" style="background-color: #efefef;">Produkt</th>
    <th class="element-td-third-right" style="background-color: #efefef;">Stk</th>
    <th class="element-td-third-right" style="background-color: #efefef;">Einzelpreis</th>
    <th class="element-td-third-right" style="background-color: #efefef;">Summe</th>
  </tr>
</table>
{{ value }}


