{# Theme must be explicitly set in webform email handler UI! #}

{% if options.email %}
  {% set inputvalue = value|render|striptags|trim %}
  {% set price_text = title|render %}
  {% set price_matches = price_text|preg_match('/[€]?\\s?(?<price_number>\\d+((\\.|\\,)\\d+)?)\\s?[€]?/i') %}
  {% set price_value = price_matches.price_number|replace({',': '.'}) %}

  {% if not (price_value matches '/^[-+]?[0-9]*\\.?[0-9]+$/') %}
    {% set price_value = 0 %}
  {% endif %}



  {% if inputvalue %}
    <table class="element-table">
      <tr>
        <th class="element-th">{{ title }}</th>

        {% if price_value and (inputvalue matches '/^[-+]?[0-9]*\\.?[0-9]+$/') %}
          <td class="element-td-half-right">{{ inputvalue }}</td>
          <td class="element-td-half-right">
            {{ (price_value * inputvalue)|number_format(2, '.', '') }} &euro;
          </td>
        {% else %}
          <td class="element-td-full">{{ inputvalue }}</td>
        {% endif %}

      </tr>
    </table>
  {% endif %}
{% else %}
  {{ item }}
{% endif %}
