{% set tile_title_classes = [
  'tile__title',
  'tile__title--' ~ entity_type,
  view_mode ? 'tile__title--' ~ view_mode,
] %}
<div{{ attributes.addClass(tile_title_classes) }}>
  {%- for item in items -%}
    {{ item.content }}
  {%- endfor -%}
</div>
