{% extends '@stable9/field/field.html.twig' %}
{% if field_name starts with 'field_text' %}
  {% set letter = field_name|replace({'field_text': ''})  %}
  {% set attributes = attributes.setAttribute('id', 'a_z__section--' ~ letter).addClass('a_z__section') %}
{% endif %}
