<div class="powered">
  <span class="powered__text">{{ 'powered by'|t }}</span>
  <img src="/themes/contrib/dgm_touch/templates/powered_by/au_schoppernau.svg" class="powered__img" style="height: 22px;">
</div>
