{% if content %}
  <div{{ attributes }}>
    {% for key, item in elements %}
      {% if key|first != '#' and 'infopointmenu' not in key %}
        {{ item }}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
