{% block wt__theme %}
  <div class="wt__frontend{% if is_front %} wt__frontend--front{% endif %}" id="top">

    {% block wt__header %}
      {% block header_mobile %}
        <header class="wt__header wt__header--touch{% if is_front %} wt__header--front{% endif %} pagehead pagehead--mobile hidden@lg">
          {% block header_mobile_left %}
            <div class="pagehead__left pagehead__left--mobile">
              {% if is_front %}
                {{ drupal_block('language_block:language_interface', {'label_display': false}) }}
              {% else %}
                <a href="#" class="js-backlink pagehead__link pagehead__link--back js-backlink">{% block header_mobile_backicon %}<i class="fal fa-arrow-left pagehead__icon pagehead__icon--back"></i>{% endblock %}</a>
              {% endif %}
            </div>
          {% endblock %}
          {% block header_mobile_center %}
            <div class="pagehead__center pagehead__center--mobile">
              <a href="{{ path('<front>') }}" class="pagehead__link pagehead__link--home pagehead__link--logo"><img src="{{ file_url(dgm.user.field_logo.entity.uri.value) }}" class="pagehead__logo pagehead__logo--mobile"></a>
            </div>
          {% endblock %}
          {% block header_mobile_right %}
            <div class="pagehead__right pagehead__right--mobile">
              {% if not(dgm.user.field_mobile_topright.isEmpty ?? TRUE) %}
                {% include "@dgm_touch/mobile_topright/" ~ dgm.user.field_mobile_topright.value ~ ".html.twig" %}
              {% endif %}
            </div>
          {% endblock %}
        </header>
      {% endblock %}

      {% block header_infopoint %}
        <header class="wt__header wt__header--touch{% if is_front %} wt__header--front{% endif %} pagehead pagehead--infopoint hidden@xs">
          {% block header_infopoint_left %}
            <div class="pagehead__left pagehead__left--infopoint">
              {% if is_front %}
                {% if not(dgm.user.field_logo.isEmpty ?? TRUE) %}
                  <img src="{{ file_url(dgm.user.field_logo.entity.uri.value) }}" class="pagehead__logo pagehead__logo--infopoint">
                {% else %}
                  <p class="pagehead__logo">Missing logo</p>
                {% endif %}
              {% else %}
                <a href="#" class="js-backlink pagehead__link pagehead__link--back js-backlink">{% block header_infopoint_backicon %}{{ block('header_mobile_backicon') }}{% endblock %}</a>
              {% endif %}
            </div>
          {% endblock %}
          {% block header_infopoint_center %}
            <div class="pagehead__center pagehead__center--infopoint">
              {% if is_front %}
                {{ drupal_block('wt_current_time', {'label_display': false, 'updateinterval': 60000, 'timeformat': 'HH:mm | D MMM YY'}) }}
              {% else %}
                {{ drupal_block('page_title_block', {'label_display': false}) }}
              {% endif %}
            </div>
          {% endblock %}
          {% block header_infopoint_right %}
            <div class="pagehead__right pagehead__right--infopoint">
              {% if is_front %}
                {{ drupal_block('language_block:language_interface', {'label_display': false}) }}
              {% else %}
                <a href="{{ path('<front>') }}" class="pagehead__link pagehead__link--home">{% block header_infopoint_homeicon %}<i class="fal fa-home-lg-alt pagehead__icon pagehead__icon--home">{% endblock %}</i></a>
              {% endif %}
            </div>
          {% endblock %}
        </header>
      {% endblock %}
    {% endblock %}



    {% block wt__main %}
      <main class="wt__main wt__main--touch{% if is_front %} wt__main--front{% endif %}">

        {% block screenreader %}
          <a id="main-content" tabindex="-1"></a>
        {% endblock %}

        {% block messages %}
          {{ page.messages }}
        {% endblock %}

        {% block content %}
          {{ page.content }}
        {% endblock %}
      </main>
    {% endblock %}



    {% block wt__footer %}
      {% block footer_mobile %}
        <footer class="wt__footer wt__footer--touch pagefoot pagefoot--mobile hidden@lg">
          {{ drupal_block('system_menu_block:dgmfooter', {'label_display': false}) }}
          {% if not(dgm.user.field_powered.isEmpty ?? TRUE) %}
            {% include "@dgm_touch/powered_by/" ~ dgm.user.field_powered.value ~ ".html.twig" %}
          {% endif %}
        </footer>
      {% endblock %}

      {% block footer_infopoint %}
        <footer class="wt__footer wt__footer--touch pagefoot pagefoot--infopoint hidden@xs">
          <div class="pagefoot__pullup">
            <div class="pagefoot__above">
              {% if not(dgm.user.field_powered.isEmpty ?? TRUE) %}
                {% include "@dgm_touch/powered_by/" ~ dgm.user.field_powered.value ~ ".html.twig" %}
              {% endif %}
              {% if has_infopoint_menu %}
                <button class="pagefoot__menubtn" aria-expanded="false"><span class="pagefoot__menutext">{{ 'Menu'|t }}<span><i class="fal fa-chevron-up pagefoot__menuicon"></i></button>
              {% endif %}
              {{ drupal_block('system_menu_block:dgmfooter', {'label_display': false}) }}
            </div>
            <div class="pagefoot__below">
              {{ drupal_entity('block', 'infopointmenu') }}
            </div>
          </div>
        </footer>
      {% endblock %}
    {% endblock %}
  </div>

  {% block wt__invisible %}
    {{ page.invisible }}
  {% endblock %}
{% endblock %}
